<!--
  GVIFishery Technology - Bhubaneswar, Odisha
  GitHub Repository: GVIFishery
  File: bussiness.html
  Department of Fisheries and Fishermen's Welfare, Government of Odisha
-->

<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>GVIFishery - Business</title>
<link href="../static/style.css" rel="stylesheet"/>
<link href="../static/business.css" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Sofia|Poppins" rel="stylesheet"/>
<link href="../img/GVIFishery.png" rel="icon" type="image.png"/>
</link></head>
<body>
<header class="header">
<div class="header-left">
<img alt="GVIlogo" src="../img/GVIFishery.png"/>
<div class="header-text">
<p>GVIFishery Technology</p>
<span>Department of fisheries and fishermen's welfares</span>
</div>
</div>
        <button class="mobile-menu-toggle" id="mobileMenuToggle" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
        </button>
<div class="header-right">
<div class="item">
<i class="fa-solid fa-phone"></i>
<div>
<p>Call Us On:</p>
<a href="tel:+91 7606885535">+91 7606885535</a>
</div>
</div>
<div class="item">
<i class="fa-solid fa-envelope"></i>
<div>
<p>Send us a Mail:</p>
<a href="mailto:subhasissha991@gmail.com">subhasissha991@gmail.com</a>
</div>
</div>
<div class="btn-buy">
<a href="https://www.bunnycart.com/fishes">Buy Fish</a>
</div>
</div>
</header>
<nav class="navbar">
<ul>
<li class="nav-item-home"><a href="../index.html"><i class="fa-solid fa-house"></i></a></li>
<li class="dropdown">
<a href="demo.html">ABOUT <i class="fa-solid fa-chevron-down"></i></a>
<div class="dropdown-content">
<a href="directors_desk.html">Director's Desk</a>
<a href="vision_mission.html">Vision &amp; Mission</a>
<a href="history.html">History</a>
</div>
</li>
<li class="dropdown">
<a href="demo.html">MAJOR ACTIVITIES <i class="fa-solid fa-chevron-down"></i></a>
<div class="dropdown-content">
<a href="marine_fisheries.html">Marine Fisheries</a>
<a href="inland_fisheries.html">Inland Fisheries</a>
<a href="aquaculture.html">Aquaculture</a>
</div>
</li>
<li><a href="welfare.html">WELFARE BOARD</a></li>
<li class="nav-item-active nav-item"><a href="bussiness.html">START A BUSINESS</a></li>
<li class="dropdown">
<a href="demo.html">OTHERS <i class="fa-solid fa-chevron-down"></i></a>
<div class="dropdown-content">
<a href="welfare_schemes.html">Welfare Schemes</a>
<a href="tenders.html">Tenders</a>
<a href="latest_news.html">Latest News &amp; Events</a>
<a href="photo_gallery.html">Photo Gallery</a>
</div>
</li>
<li><a href="contactus.html">CONTACT US</a></li>
</ul>
</nav>
<section class="breadcrumb-area">
<h2>Business</h2>
<ul>
<li><a href="../index.html">Home</a></li>
<li class="active"><a href="demo.html">Business</a></li>
</ul>
</section>
<main class="main-container">
<section class="section-1">
<div class="intro-container">
<h2 class="content-title">Blue Regulation and State Schemes</h2>
<h5 class="small-title">(Buy/Build/Start)</h5>
<div class="intro-text">
<p class="content">The following are the various State &amp; Central Government schemes implemented by
                        the
                        Department of Fisheries, Government of Odisha, for the welfare and development of the people of
                        Odisha. These schemes can be availed by eligible beneficiaries across Odisha to start
                        fisheries-related businesses, renovate ponds and water bodies, promote aquaculture, and purchase
                        boats and fishing equipment for inland, coastal, and deep-sea fishing activities. The Government
                        of
                        Odisha provides necessary support and financial assistance to enterprising individuals, fish
                        farmers, and fishermen to improve their livelihoods and achieve sustainable growth in the
                        fisheries
                        sector.</p>
<p class="content-disclaimer"><strong>Disclaimer: </strong><i>The Images &amp; Videos shown here are
                            strictly for illustration purpose of the viewer. Actual unit or construction may vary based
                            on
                            requirement. </i></p>
</div>
</div>
</section>
<section class="org-business">
<input checked="" id="tab1" name="tabs" type="radio"/>
<input id="tab2" name="tabs" type="radio"/>
<input id="tab3" name="tabs" type="radio"/>
<input id="tab4" name="tabs" type="radio"/>
<input id="tab5" name="tabs" type="radio"/>
<div class="tabs">
<label for="tab1">
                    Marine
                </label>
<label for="tab2">
                    Inland
                </label>
<label for="tab3">
                    Marine/Inland
                </label>
<label for="tab4">
                    Sales/Marketing
                </label>
<label for="tab5">
                    Feed/Transportation
                </label>
</div>
<a class="btn-download" href="demo.html">Download</a>
<div class="content">
<div class="tab-content content1"><div class="content-card">
<div class="card-header">1. Buy A Boat(Only for Traditional/Artisanal Fisherman)</div>
<div class="card-body">
<div class="card-left">
<img alt="image" src="../img/traditional_boat.png"/>
<p class="card-center-text">Procurement of FRP Boats up to 10m OAL as a replacement for
                                    traditional/ wooden boats including nets.</p>
<div class="card-underline card-center-text">How to Apply</div>
<p class="card-center-text">(i) Beneficiary can apply for the scheme at the
                                    corresponding AD offices.</p>
</div>
<div class="card-right">
<p class="card-center-text">Unit Cost: Upto Rs 4.00 lakh/boat</p>
<div class="card-center-text card-underline">Funding Pattern</div>
<table class="table-responsive">
<thead>
<th>Shares</th>
<th>General Category</th>
<th> SC/ ST Women &amp; their Co-Operatives</th>
</thead>
<tbody>
<tr>
<td>Central Gvt. Shares</td>
<td>24%</td>
<td>36%</td>
</tr>
<tr>
<td>State Gvt. Shares</td>
<td>16%</td>
<td>24%</td>
</tr>
<tr>
<td>Beneficiary Shares</td>
<td>60%</td>
<td>40%</td>
</tr>
</tbody>
</table>
<div class="card-underline">Terms &amp; Conditions</div>
<ul>
<li>(i) Only Traditional/Artisanal fishermen are eligible for the benefit under this
                                        component.</li>
<li>(ii) Beneficiary should possess valid (a) Ownership Certificate, (b)
                                        Registration Certificate under the ReALCraft, (c) Fishing License and (d)
                                        Biometric ID fishers ID card.</li>
<li>(iii) State Govts shall ensure suitable disposal of the old fishing
                                        boats(against which new one is replaced).</li>
</ul>
</div>
</div>
</div><div class="content-card">
<div class="card-header">2. Buy Deep sea vessel</div>
<div class="card-body">
<div class="card-left">
<img alt="image" src="../img/deep_sea_vessel.png"/>
<p class="card-center-text">Assistance for Deep Sea Fishing Vessel size (18-24 m OAL)
                                    for Traditional Fishermen and their Societies in Coastal States/ UTs</p>
<div class="card-underline card-center-text">How to Apply</div>
<p class="card-center-text">(i) Beneficiary can apply for the scheme at the
                                    corresponding AD offices.</p>
</div>
<div class="card-right">
<p class="card-center-text">Unit Cost: Actual Cost, with a ceiling of Rs. 80 lakh; 50%
                                    subsidy, subject to a maximum of Rs.40 lakh per fishing vessel</p>
<div class="card-center-text card-underline">Funding Pattern</div>
<table class="tg table-responsive">
<thead>
<th>Shares</th>
<th>General Category</th>
<th> SC/ ST Women &amp; their Co-Operatives</th>
</thead>
<tbody>
<tr>
<td>Central Gvt. Shares</td>
<td>24%</td>
<td>36%</td>
</tr>
<tr>
<td>State Gvt. Shares</td>
<td>16%</td>
<td>24%</td>
</tr>
<tr>
<td>Beneficiary Shares</td>
<td>60%</td>
<td>40%</td>
</tr>
</tbody>
</table>
<div class="card-underline">Terms &amp; Conditions</div>
<ul>
<li>(i) The applicant shall obtain necessary prior permissions from the concerned
                                        State/UT Government and other Competent Authorities for procuring Deep Sea Boat.
                                    </li>
<li>(ii) Beneficiary should possess valid (a) Ownership Certificate, (b)
                                        Registration Certificate under the ReALCraft, (c) Fishing License and (d)
                                        Biometric ID fishers ID card.</li>
</ul>
</div>
</div>
</div><div class="content-card">
<div class="card-header">3. Buy Tuna Liner cum Gill Netter Fishing Vessel</div>
<div class="card-body">
<div class="card-left">
<img alt="image" src="../img/tuna_liner_vessel.png"/>
<div class="card-underline card-center-text">How to Apply</div>
<p class="card-center-text">(i) Beneficiary can apply for the scheme at the
                                    corresponding AD offices.</p>
</div>
<div class="card-right">
<p class="card-center-text">Unit Cost: Actual Cost, subject to maximum of Rs. 60 lakh
                                    per Fishing Vessel</p>
<div class="card-center-text card-underline">Funding Pattern</div>
<table class="tg table-responsive">
<thead>
<th>Shares</th>
<th>Category</th>
</thead>
<tbody>
<tr>
<td>State Gvt. Shares</td>
<td>50%</td>
</tr>
<tr>
<td>Beneficiary Shares</td>
<td>50%</td>
</tr>
</tbody>
</table>
<div class="card-underline">Terms &amp; Conditions</div>
<ul>
<li>(i) The applicant shall obtain necessary prior permissions from the concerned
                                        State/UT Government and other Competent Authorities for procuring Tuna liner cum
                                        Gill Netter.</li>
<li>(ii) Beneficiary should possess valid (a) Ownership Certificate, (b)
                                        Registration Certificate under the ReALCraft, (c) Fishing License and (d)
                                        Biometric ID fishers ID card.</li>
</ul>
</div>
</div>
</div><div class="content-card">
<div class="card-header">4. Buy Deep Sea Fishing Vessel - Palk Bay trawl fishing diversification
                        </div>
<div class="card-body">
<div class="card-left">
<img alt="image" src="../img/deep_sea_fishing_vessel.png"/>
<div class="card-underline card-center-text">How to Apply</div>
<p class="card-center-text">(i) Beneficiary can apply for the scheme at the
                                    corresponding AD offices.</p>
</div>
<div class="card-right">
<p class="card-center-text">Unit Cost:Actual Cost, subject to maximum of Rs. 80 lakh per
                                    Fishing Vessel</p>
<div class="card-center-text card-underline">Funding Pattern</div>
<table class="tg table-responsive">
<thead>
<th>Shares</th>
<th>Category</th>
</thead>
<tbody>
<tr>
<td>State Gvt. Shares</td>
<td>50%</td>
</tr>
<tr>
<td>Beneficiary Shares</td>
<td>50%</td>
</tr>
</tbody>
</table>
<div class="card-underline">Terms &amp; Conditions</div>
<ul>
<li>(i) The applicant in the region surrounding Palk Bay shall obtain necessary
                                        prior permissions from the concerned State/UT Government and other Competent
                                        Authorities for procuring Deep sea Fishing Vessel.</li>
<li>(ii) Beneficiary should possess valid (a) Ownership Certificate, (b)
                                        Registration Certificate under the ReALCraft, (c) Fishing License and (d)
                                        Biometric ID fishers ID card.</li>
</ul>
</div>
</div>
</div></div>
<div class="tab-content content2"><div class="content-card">
<div class="card-header">1. Buy Boats &amp; Gear - Inland Fisheries</div>
<div class="card-body">
<div class="card-left">
<img alt="image" src="../img/inland_boats_gear.png"/>
<p class="card-center-text">(boats of appropriate sizes including fishing nets, fish &amp;
                                    ice holding boxes etc.).</p>
<div class="card-underline card-center-text">How to Apply</div>
<p class="card-center-text">(i) Beneficiary can apply for the scheme at the
                                    corresponding AD offices.</p>
</div>
<div class="card-right">
<p class="card-center-text">Unit Cost: As per actual cost subject to a ceiling of Rs.
                                    1.00 lakh per unit.</p>
<div class="card-center-text card-underline">Funding Pattern</div>
<table class="tg table-responsive">
<thead>
<th>Shares</th>
<th>General Category</th>
<th> SC/ ST Women &amp; their Co-Operatives</th>
</thead>
<tbody>
<tr>
<td>Central Gvt. Shares</td>
<td>24%</td>
<td>36%</td>
</tr>
<tr>
<td>State Gvt. Shares</td>
<td>16%</td>
<td>24%</td>
</tr>
<tr>
<td>Beneficiary Shares</td>
<td>60%</td>
<td>40%</td>
</tr>
</tbody>
</table>
<div class="card-underline">Terms &amp; Conditions</div>
<ul>
<li>(i) Beneficiaries should provide documentary evidence of availability valid
                                        fishing license issued by the competent authority.</li>
<li>(ii) The project proposals of individual beneficiary (consolidated),
                                        cooperatives/ collectives shall be routed through the concerned State/ UT
                                        Government with proper recommendations.</li>
<li>(iii) Beneficiaries shall also produce the documentary evidence of availability
                                        of fishing rights/ permissions in the reservoirs/tanks etc. from the competent
                                        authorities.</li>
<li>(iv) For Central and State Government organizations/ federations/ corporations/
                                        agencies etc. financial assistance shall be decided on case to case basis in
                                        consultation with the concerned.</li>
<li>(v) The fishing craft/boats may also be shared by a group of fishers/
                                        collectives.</li>
<li>(vi) Beneficiaries shall be abide by the fishing regulations (if any) on use of
                                        size &amp; type of boat/ craft and nets etc.</li>
<li>(vii) Central assistance shall also be provided for replacement existing boats
                                        of more than 5 years old.</li>
</ul>
</div>
</div>
</div><div class="content-card">
<div class="card-header">2. Build New Fish Pond/Tank</div>
<div class="card-body">
<div class="card-left">
<img alt="image" src="../img/new_fish_pond.png"/>
<p class="card-center-text">(including construction of sluice gates, civil works for
                                    water supply and aeration appliances, feed storing shed etc.)</p>
<div class="card-underline card-center-text">How to Apply</div>
<p class="card-center-text">(i) Beneficiary can apply for the scheme at the
                                    corresponding AD offices.</p>
</div>
<div class="card-right">
<p class="card-center-text">Unit Cost:As per actual cost subject to a ceiling of Rs. 7.0
                                    lakh per ha.</p>
<div class="card-center-text card-underline">Funding Pattern</div>
<table class="tg table-responsive">
<thead>
<th>Shares</th>
<th>General Category</th>
<th> SC/ ST Women &amp; their Co-Operatives</th>
</thead>
<tbody>
<tr>
<td>Central Gvt. Shares</td>
<td>24%</td>
<td>36%</td>
</tr>
<tr>
<td>State Gvt. Shares</td>
<td>16%</td>
<td>24%</td>
</tr>
<tr>
<td>Beneficiary Shares</td>
<td>60%</td>
<td>40%</td>
</tr>
</tbody>
</table>
<div class="card-underline">Terms &amp; Conditions</div>
<ul>
<li>(i) Beneficiaries shall provide documentary evidence of availability of
                                        requisite land free from all encumbrances and financial resources along with
                                        necessary clearances/ permissions etc. in the DPR. No funds shall be provided
                                        for the land.</li>
<li>(ii) The constructed ponds shall have a minimum water depth of 1.5m.</li>
<li>(iii) Central financial assistance shall be restricted to a maximum area of 2 ha
                                        for individual beneficiary, 2 ha x number of members for cooperatives/
                                        collectives subject to viability of pond sizes and with a ceiling of 20 ha. for
                                        group/collectives. The project proposals in this category shall be routed
                                        through the concerned State /UT Government with proper recommendations.</li>
</ul>
</div>
</div>
</div><div class="content-card">
<div class="card-header">3. Renovate Existing Ponds/Tanks</div>
<div class="card-body">
<div class="card-left">
<img alt="image" src="../img/renovate_ponds.png"/>
<p class="card-center-text">(repair and strengthening of bunds, repair of electrical and
                                    water supply works and other accessories/ equipment, de-siltation, repair/
                                    installation of sluice gates, site clearing, dewatering etc., Renovation of MNERGA
                                    Ponds And Tanks, New Water Bodies created under various State Govt/Central programme
                                    including wetland development department etc., Rejuvenation of Urban/ Semi- Urban/
                                    Rural Lakes/Tanks for Fish Culture )</p>
<div class="card-underline card-center-text">How to Apply</div>
<p class="card-center-text">(i) Beneficiary can apply for the scheme at the
                                    corresponding AD offices.</p>
</div>
<div class="card-right">
<p class="card-center-text">Unit Cost:Rs. 3.5 lakh per ha</p>
<div class="card-center-text card-underline">Funding Pattern</div>
<table class="tg table-responsive">
<thead>
<th>Shares</th>
<th>General Category</th>
<th> SC/ ST Women &amp; their Co-Operatives</th>
</thead>
<tbody>
<tr>
<td>Central Gvt. Shares</td>
<td>24%</td>
<td>36%</td>
</tr>
<tr>
<td>State Gvt. Shares</td>
<td>16%</td>
<td>24%</td>
</tr>
<tr>
<td>Beneficiary Shares</td>
<td>60%</td>
<td>40%</td>
</tr>
</tbody>
</table>
<div class="card-underline">Terms &amp; Conditions</div>
<ul>
<li>(i) Beneficiaries shall provide documentary evidence on ownership of the
                                        existing ponds/ tanks, financial resources along with necessary clearances/
                                        permissions (if any required) etc. in the DPR.</li>
<li>(ii) Renovation/repair/de-silting of existing ponds/ tanks, other related civil
                                        works etc. may be considered for funding only after 5 years on one time basis.
                                    </li>
<li>(iii) Central financial assistance shall be restricted to a maximum area of 2 ha
                                        for individual beneficiary, 2 ha x number of members for cooperatives/
                                        collectives subject to viability of pond sizes and with a ceiling of 20 ha. for
                                        group/collectives.</li>
<li>(iv) The project proposals (except for central Govt organizations/ instates)
                                        shall be routed through the concerned State/ UT Government with proper
                                        recommendations.</li>
</ul>
</div>
</div>
</div><div class="content-card">
<div class="card-header">4. Buy Fish/Prawn Seed, Feed, Manure for New and Existing Ponds/Tanks
                        </div>
<div class="card-body">
<div class="card-left">
<img alt="image" src="../img/fish_seed_feed_manure.png"/>
<p class="card-center-text">(including construction of sluice gates, civil works for
                                    water supply and aeration appliances, feed storing shed etc.)</p>
<div class="card-underline card-center-text">How to Apply</div>
<p class="card-center-text">(i) Beneficiary can apply for the scheme at the
                                    corresponding AD offices.</p>
</div>
<div class="card-right">
<p class="card-center-text">Unit Cost: Freshwater prawn/trout culture: As per actual
                                    cost subject to a ceiling of Rs. 2.50 lakh/ha</p>
<div class="card-center-text card-underline">Funding Pattern</div>
<table class="tg table-responsive">
<thead>
<th>Shares</th>
<th>General Category</th>
<th> SC/ ST Women &amp; their Co-Operatives</th>
</thead>
<tbody>
<tr>
<td>Central Gvt. Shares</td>
<td>24%</td>
<td>36%</td>
</tr>
<tr>
<td>State Gvt. Shares</td>
<td>16%</td>
<td>24%</td>
</tr>
<tr>
<td>Beneficiary Shares</td>
<td>60%</td>
<td>40%</td>
</tr>
</tbody>
</table>
<div class="card-underline">Terms &amp; Conditions</div>
<ul>
<li>(i) This input cost shall be provided for the beneficiaries who already own a
                                        pond/tanks/waterbodies</li>
<li>(ii) Beneficiaries shall be provided central assistance for input costs for the
                                        initial crop only in the newly constructed/ renovated ponds/ tanks.</li>
<li>(iii) Central assistance for input cost shall be released only after the ponds/
                                        tanks are ready for culture.</li>
</ul>
</div>
</div>
</div></div>
<div class="tab-content content3"><div class="content-card">
<div class="card-header">1. Build Freshwater/ Brackish water Prawn Hatcheries</div>
<div class="card-body">
<div class="card-left">
<img alt="image" src="../img/prawn_hatcheries.png"/>
<div class="card-underline card-center-text">How to Apply</div>
<p class="card-center-text">(i) Beneficiary can apply for the scheme at the
                                    corresponding AD offices.</p>
</div>
<div class="card-right">
<p class="card-center-text">Unit Cost: As per actual cost subject to a ceiling of Rs. 50
                                    lakh per unit with a minimum capacity of 5 million post larvae per year.</p>
<div class="card-center-text card-underline">Funding Pattern</div>
<table class="tg table-responsive">
<thead>
<th>Shares</th>
<th>General Category</th>
<th> SC/ ST Women &amp; their Co-Operatives</th>
</thead>
<tbody>
<tr>
<td>Central Gvt. Shares</td>
<td>24%</td>
<td>36%</td>
</tr>
<tr>
<td>State Gvt. Shares</td>
<td>16%</td>
<td>24%</td>
</tr>
<tr>
<td>Beneficiary Shares</td>
<td>60%</td>
<td>40%</td>
</tr>
</tbody>
</table>
<div class="card-underline">Terms &amp; Conditions</div>
<ul>
<li>(i) Beneficiaries shall provide documentary evidence of availability of
                                        requisite land free from all encumbrances and financial resources, necessary
                                        clearances/ permissions etc. with full technical details including bio-security
                                        measures in the DPR. No funds shall be provided for the land.</li>
<li>(ii) Fisher cooperatives/ collectives shall be eligible for central financial
                                        assistance and should route their proposals through the concerned State/ UT
                                        Government with proper recommendations.</li>
<li>(iii) Proposals from Central and State Government organizations/ federations/
                                        corporations/ agencies etc may be submitted directly to NFDB.</li>
<li>(iv) Beneficiary should have the requisite technical expertise and trained
                                        manpower for construction, operation and management of the hatchery.</li>
<li>(v) The hatchery shall include brooder pond, PL rearing tanks, small laboratory,
                                        water &amp; electric supply, bio-security arrangements and required infrastructure
                                        facilities etc.</li>
<li>(vi) Beneficiaries organizations shall ensure supply of seed produced from the
                                        central funded hatcheries to farmers at affordable/ reasonable price.</li>
<li>(vii) Post construction operation, management and maintenance of the hatcheries
                                        shall be carried out in a satisfactory manner by the beneficiaries at their own
                                        costs.</li>
<li>(viii) NFDB shall also directly set up &amp; manage the hatcheries with commercial
                                        approach at suitable location.</li>
</ul>
</div>
</div>
</div><div class="content-card">
<div class="card-header">2. Build Re-circulatory Aquaculture Systems (RAS)</div>
<div class="card-body">
<div class="card-left">
<img alt="image" src="../img/ras_aquaculture.png"/>
<p class="card-center-text">Low cost RAS: 5 x 5 x 4 m cement tanks (100 m3 each),
                                    minimum production capacity of 2 tonnes fish per tank</p>
<div class="card-underline card-center-text">How to Apply</div>
<p class="card-center-text">(i) Beneficiary can apply for the scheme at the
                                    corresponding AD offices.</p>
</div>
<div class="card-right">
<p class="card-center-text">Unit Cost: Medium Size RAS - As per actual, with a ceiling
                                    of Rs. 50.00 lakh per unit of minimum 8 tanks. The unit of Medium Size RAS includes
                                    about Rs. 31 lakh capital cost and Rs. 19 lakh as operational cost. The central
                                    assistance is also provided against the operational cost as one time.</p>
<div class="card-center-text card-underline">Funding Pattern</div>
<table class="tg table-responsive">
<thead>
<th>Shares</th>
<th>General Category</th>
<th> SC/ ST Women &amp; their Co-Operatives</th>
</thead>
<tbody>
<tr>
<td>Central Gvt. Shares</td>
<td>24%</td>
<td>36%</td>
</tr>
<tr>
<td>State Gvt. Shares</td>
<td>16%</td>
<td>24%</td>
</tr>
<tr>
<td>Beneficiary Shares</td>
<td>60%</td>
<td>40%</td>
</tr>
</tbody>
</table>
<div class="card-underline">Terms &amp; Conditions</div>
<ul>
<li>(i) Beneficiaries shall submit self contained Detailed Project Report (DPR) with
                                        full justification &amp; technical details etc.</li>
<li>(ii) Beneficiaries shall provide documentary evidence of availability of
                                        requisite land free from all encumbrances, financial resources, necessary
                                        clearances/ permissions etc. in the DPR. No funds shall be provided for the
                                        land.</li>
<li>(iii) DPRs shall also contain details of anticipated direct &amp; indirect
                                        employment generation to local populations, enhancement of fish production,
                                        specific time lines for the implementation of the project etc.</li>
<li>(iv) Project proposals of cooperatives/ collectives/ omnibus/ entrepreneurs
                                        shall be submitted to NFDB. The central assistance to these beneficiaries will
                                        be provided as back-ended subsidy.</li>
<li>(v) For Central and State Government organizations/ federations/ corporations/
                                        agencies etc., quantum of financial assistance shall be decided on case to case
                                        basis in consultation with the concerned.</li>
<li>(vi) Post construction operation, management and maintenance of the RAS shall be
                                        carried out in a satisfactory manner by the beneficiaries at their own costs.
                                    </li>
<li>(vii) NFDB shall also set up manage the RAS with commercial approach at suitable
                                        location.</li>
<li>(viii) Infrastructure created should have essential requirements for RAS
                                        including water treatment units.</li>
</ul>
</div>
</div>
</div></div>
<div class="tab-content content4"><div class="content-card">
<div class="card-header">1. Buy Auto rickshaw/Motorcycle/Bicycle with Ice box</div>
<div class="card-body">
<div class="card-left">
<img alt="image" src="../img/vehicle_ice_box.png"/>
<div class="card-underline card-center-text">How to Apply</div>
<p class="card-center-text">(i) Beneficiary can apply for the scheme at the
                                    corresponding AD offices.</p>
</div>
<div class="card-right">
<p class="card-center-text">Unit Cost: Bicycle - As per actual with a ceiling of Rs.
                                    3000/- per unit.</p>
<div class="card-center-text card-underline">Funding Pattern</div>
<table class="tg table-responsive">
<thead>
<th>Shares</th>
<th>General Category</th>
<th> SC/ ST Women &amp; their Co-Operatives</th>
</thead>
<tbody>
<tr>
<td>Central Gvt. Shares</td>
<td>24%</td>
<td>36%</td>
</tr>
<tr>
<td>State Gvt. Shares</td>
<td>16%</td>
<td>24%</td>
</tr>
<tr>
<td>Beneficiary Shares</td>
<td>60%</td>
<td>40%</td>
</tr>
</tbody>
</table>
<div class="card-underline">Terms &amp; Conditions</div>
<ul>
<li>(i) Maintenance &amp; operational costs of the fish transport vehicles shall be met
                                        by the beneficiaries at their own cost.</li>
<li>(ii) Government of India shall not be responsible for any losses incurred on
                                        procurement, operation, maintenance and management of the fish transport
                                        facilities.</li>
<li>(iii) Beneficiaries should ensure that fish transport facilities are maintained
                                        in operational condition.</li>
<li>(iv) Beneficiaries shall be abide by rules/regulations, if any imposed by the
                                        concerned State/UT as well as Central Government on maintenance &amp; operation of
                                        the fish transport facilities.</li>
<li>(v) Beneficiaries shall ensure that the fish transport vehicles/facilities
                                        procured under the scheme will be used only for transport of fish and fisheries
                                        related items and not for any other purposes.</li>
<li>(vi) In case, it is found at any point of time that the fish transport vehicles
                                        procured under the scheme are used for other than the fisheries purposes, the
                                        Government of India will recover the entire central assistance with interest
                                        from the beneficiaries.</li>
<li>(vii) Beneficiaries will display permanently to the effect that the fish
                                        transport vehicle is procured with financial assistance from the Government of
                                        India, Ministry of Agriculture, Department of Animal Husbandry, Dairying and
                                        Fisheries.</li>
</ul>
</div>
</div>
</div><div class="content-card">
<div class="card-header">2. Micro Credit for Fisherwoman - Joint Liability Group by FISHFED
                        </div>
<div class="card-body">
<div class="card-left">
<img alt="image" src="../img/fisherwoman_micro_credit.png"/>
<p class="card-center-text">For Opening up Fresh Fish or Dry Fish Stalls, Fishing sales
                                    in Baskets</p>
<div class="card-underline card-center-text">How to Apply</div>
<p class="card-center-text">Beneficiary can apply for the scheme with Project Officers
                                    ï¿½ FISHFED at the corresponding AD offices.</p>
</div>
<div class="card-right">
<p class="card-center-text">Unit Cost:Rs 15,000/- per head for group of 5 fisherwoman
                                </p>
<div class="card-center-text card-underline">Funding Pattern</div>
<table class="tg table-responsive">
<thead>
<th>Shares</th>
<th>Category</th>
</thead>
<tbody>
<tr>
<td>State Gvt. Shares</td>
<td>100%</td>
</tr>
</tbody>
</table>
<div class="card-underline">Terms &amp; Conditions</div>
<ul>
<li>(i)The 5 fisherwoman to open a joint account with FISHFED Project Officers.
                                    </li>
<li>(ii) The fisherwoman gets Rs 15,000 /- for a Lock in period of 1 year and can
                                        open up Fresh Fish or Dry Fish Stalls, Sell Fish in Baskets.</li>
<li>(iii) Weekly once, the fisherwoman to pay back Rs 350/- per head for a period of
                                        52 weeks to Project Officer.</li>
<li>(iv) After 1 year, the fisherwoman can renew the scheme.</li>
</ul>
</div>
</div>
</div><div class="content-card">
<div class="card-header">3. Build a Retail Fish Shop/Kiosk</div>
<div class="card-body">
<div class="card-left">
<img alt="image" src="../img/retail_fish_shop.png"/>
<p class="card-center-text">Kiosk along with one fish storage/ display cabin, one visi
                                    cooler, weighing machine, facilities/ utensils for fish cutting cleaning facilities
                                </p>
<div class="card-underline card-center-text">How to Apply</div>
<p class="card-center-text">(i) Beneficiary can apply for the scheme at the
                                    corresponding AD offices.</p>
</div>
<div class="card-right">
<p class="card-center-text">Unit Cost: Rs.100 lakh for a fish market of 10 unit retail
                                    outlets, Rs.200 lakh for a fish market of 20 unit retail outlets &amp; Rs.500 lakh for a
                                    fish market of 50 unit retail outlets</p>
<div class="card-center-text card-underline">Funding Pattern</div>
<table class="tg table-responsive">
<thead>
<th>Shares</th>
<th>General Category</th>
<th> SC/ ST Women &amp; their Co-Operatives</th>
</thead>
<tbody>
<tr>
<td>Central Gvt. Shares</td>
<td>24%</td>
<td>36%</td>
</tr>
<tr>
<td>State Gvt. Shares</td>
<td>16%</td>
<td>24%</td>
</tr>
<tr>
<td>Beneficiary Shares</td>
<td>60%</td>
<td>40%</td>
</tr>
</tbody>
</table>
<div class="card-underline">Terms &amp; Conditions</div>
<ul>
<li>(i) Beneficiaries shall provide documentary evidence of availability of
                                        requisite land (wherever required) free from all encumbrances and financial
                                        resources along with necessary clearances/ permissions(wherever required) etc.
                                        in the DPR. No funds shall be provided for the land.</li>
<li>(ii) Cost estimate for construction of fish retail outlet/kiosk shall be based
                                        on the latest SoRs admissible in the project area, and cost estimate for mobile
                                        outlet shall be based on prevailing market rates.</li>
<li>(iii) The post-construction operational and maintenance costs of the fish retail
                                        outlet/kiosk/ mobile fish retail outlet shall be borne by the beneficiaries.
                                    </li>
<li>(iv) The beneficiaries shall submit self contained proposals together with
                                        documentary evidences in respect of (i) to (iii) above.</li>
<li>(v) The proposals shall be routed through the concerned State Governments/ UTs
                                        with clear recommendation.</li>
<li>(vi) Fish retail outlet/kiosk shall be of a minimum floor area of 100 Sq.ft
                                        (static).</li>
<li>(vii) Priority shall be given to SCs / STs/ women / unemployed youth.</li>
</ul>
</div>
</div>
</div><div class="content-card">
<div class="card-header">4. Build a Retail Fish Market</div>
<div class="card-body">
<div class="card-left">
<img alt="image" src="../img/retail_fish_market.png"/>
<p class="card-center-text">Modern hygienic fish market with a minimum of 10 retail
                                    outlets, 20 retail outlets, and 50 retail outlets units with common cold storage
                                    facility, waste collection &amp; disposal units, fish cleaning and dressing space,
                                    auctioning platforms water and power supply facilities etc.</p>
<div class="card-underline card-center-text">How to Apply</div>
<p class="card-center-text">(i) Beneficiary can apply for the scheme at the
                                    corresponding AD offices.</p>
</div>
<div class="card-right">
<p class="card-center-text">Unit Cost: Bicycle - As per actual with a ceiling of Rs.
                                    3000/- per unit.</p>
<div class="card-center-text card-underline">Funding Pattern</div>
<table class="tg table-responsive">
<thead>
<th>Shares</th>
<th>General Category</th>
<th> SC/ ST Women &amp; their Co-Operatives</th>
</thead>
<tbody>
<tr>
<td>Central Gvt. Shares</td>
<td>24%</td>
<td>36%</td>
</tr>
<tr>
<td>State Gvt. Shares</td>
<td>16%</td>
<td>24%</td>
</tr>
<tr>
<td>Beneficiary Shares</td>
<td>60%</td>
<td>40%</td>
</tr>
</tbody>
</table>
<div class="card-underline">Terms &amp; Conditions</div>
<ul>
<li>(i) Beneficiaries shall provide documentary evidence of availability of
                                        requisite land free from all encumbrances and financial resources along with
                                        necessary clearances/ permissions etc. in the DPR. No funds shall be provided
                                        for the land.</li>
<li>(ii) The beneficiaries shall complete the planning, designing of the market
                                        facilities and cost estimates etc. through professionals in the subject.</li>
<li>(iii) Cost estimates shall be based on the latest SoRs admissible in the project
                                        area and prevailing market rates.</li>
<li>(iv) The post-construction operational and maintenance costs of the
                                        infrastructure facility shall be borne by the beneficiaries.</li>
<li>(v) The beneficiaries shall submit self contained proposals together with
                                        documentary evidences in respect of (i) to (iv) above.</li>
<li>(vi) The beneficiaries shall confirm that all operational and maintenance costs
                                        of the modernized plant/infrastructure facility shall be borne by them.</li>
<li>(vi) The proposals shall be routed through the concerned State Governments/ UTs
                                        with clear recommendation.</li>
<li>(vii) NFDB shall take up development and management of fish markets on
                                        commercial approach at feasible locations.</li>
</ul>
</div>
</div>
</div></div>
<div class="tab-content content5"><div class="content-card">
<div class="card-header">1. Build Fish feed Mills/Plants</div>
<div class="card-body">
<div class="card-left">
<img alt="image" src="../img/fish_feed_mill.png"/>
<p class="card-center-text">(capacity 1 to 5 quintals/day)</p>
<div class="card-underline card-center-text">How to Apply</div>
<p class="card-center-text">(i) Beneficiary can apply for the scheme at the
                                    corresponding AD offices.</p>
</div>
<div class="card-right">
<p class="card-center-text">Unit Cost: As per actual cost subject to a ceiling of Rs. 10
                                    lakh per Unit</p>
<div class="card-center-text card-underline">Funding Pattern</div>
<table class="tg table-responsive">
<thead>
<th>Shares</th>
<th>General Category</th>
<th> SC/ ST Women &amp; their Co-Operatives</th>
</thead>
<tbody>
<tr>
<td>Central Gvt. Shares</td>
<td>24%</td>
<td>36%</td>
</tr>
<tr>
<td>State Gvt. Shares</td>
<td>16%</td>
<td>24%</td>
</tr>
<tr>
<td>Beneficiary Shares</td>
<td>60%</td>
<td>40%</td>
</tr>
</tbody>
</table>
<div class="card-underline">Terms &amp; Conditions</div>
<ul>
<li>(i) Beneficiaries shall submit self contained Detailed Project Report (DPR) with
                                        full justification &amp; technical details of the plant etc.</li>
<li>(ii) Beneficiaries shall provide documentary evidence of availability of
                                        requisite land free from all encumbrances, financial resources, necessary
                                        clearances/ permissions etc. in the DPR. No funds shall be provided for the
                                        land.</li>
<li>(iii) Beneficiaries organizations shall ensure supply of fish feed produced from
                                        the central funded feed mill plants to farmers at affordable/ reasonable price.
                                    </li>
<li>(iv) Post construction operation, management and maintenance of the feed mills
                                        shall be carried out in a satisfactory manner by the beneficiaries at their own
                                        costs.</li>
<li>(v) The project proposals of cooperatives/ collectives/ entrepreneurs shall be
                                        routed through the concerned State/ UT Government with proper recommendations.
                                    </li>
<li>(vi) The Central and State Government organizations/ federations/ corporations/
                                        agencies etc., shall submit the proposals directly to DADF and the financial
                                        assistance shall be decided on case to case basis in consultation with the
                                        concerned.</li>
<li>(vii) NFDB shall also directly set up the feed mill plants with commercial
                                        approach at suitable location.</li>
</ul>
</div>
</div>
</div><div class="content-card">
<div class="card-header">2. Build Formulated Fish Pellet Feed Plant</div>
<div class="card-body">
<div class="card-left">
<img alt="image" src="../img/pellet_feed_plant.png"/>
<p class="card-center-text">(of a minimum capacity of 10 ton/day or more)</p>
<div class="card-underline card-center-text">How to Apply</div>
<p class="card-center-text">(i) Beneficiary can apply for the scheme at the
                                    corresponding AD offices.</p>
</div>
<div class="card-right">
<p class="card-center-text">Unit Cost: As per actual, with a ceiling of Rs. 2 Crore/Unit
                                </p>
<div class="card-center-text card-underline">Funding Pattern</div>
<table class="tg table-responsive">
<thead>
<th>Shares</th>
<th>General Category</th>
<th> SC/ ST Women &amp; their Co-Operatives</th>
</thead>
<tbody>
<tr>
<td>Central Gvt. Shares</td>
<td>24%</td>
<td>36%</td>
</tr>
<tr>
<td>State Gvt. Shares</td>
<td>16%</td>
<td>24%</td>
</tr>
<tr>
<td>Beneficiary Shares</td>
<td>60%</td>
<td>40%</td>
</tr>
</tbody>
</table>
<div class="card-underline">Terms &amp; Conditions</div>
<ul>
<li>(i) This component will be implemented by NFDB with commercial approach.</li>
<li>(ii) The project proposals of cooperatives/ collectives/ omnibus/ entrepreneurs
                                        shall be submitted to NFDB. The central assistance to these agencies will be
                                        provided as back-ended subsidy.</li>
<li>(iii) Beneficiaries shall submit self contained Detailed Project Report (DPR)
                                        with full justification &amp; technical details of the plant etc.</li>
<li>(iv) Beneficiaries shall provide documentary evidence of availability of
                                        requisite land free from all encumbrances, financial resources, necessary
                                        clearances/ permissions etc. in the DPR. No funds shall be provided for the
                                        land.</li>
<li>(v) Beneficiaries organisations shall ensure supply of fish feed produced from
                                        the central funded feed mill plants to farmers at affordable/ reasonable price.
                                    </li>
<li>(vi) Post construction operation, management and maintenance of the feed mills
                                        shall be carried out in a satisfactory manner by the beneficiaries at their own
                                        costs.</li>
<li>(vii) The Central and State G o v e r n m e n t organizations/ federations/
                                        corporations/ agencies etc., shall submit the proposals directly to NFDB and the
                                        financial assistance shall be decided on case to case basis in consultation with
                                        the concerned.</li>
</ul>
</div>
</div>
</div><div class="content-card">
<div class="card-header">3. Build Ice Plant or Cold Storage, Ice plant cum Cold Storage</div>
<div class="card-body">
<div class="card-left">
<img alt="image" src="../img/ice_plant_cold_storage.png"/>
<div class="card-underline card-center-text">How to Apply</div>
<p class="card-center-text">(i) Beneficiary can apply for the scheme at the
                                    corresponding AD offices.</p>
</div>
<div class="card-right">
<p class="card-center-text">aa Unit Cost:Rs.2.50 lakh per ton</p>
<div class="card-center-text card-underline">Funding Pattern</div>
<table class="tg table-responsive">
<thead>
<th>Shares</th>
<th>General Category</th>
<th> SC/ ST Women &amp; their Co-Operatives</th>
</thead>
<tbody>
<tr>
<td>Central Gvt. Shares</td>
<td>24%</td>
<td>36%</td>
</tr>
<tr>
<td>State Gvt. Shares</td>
<td>16%</td>
<td>24%</td>
</tr>
<tr>
<td>Beneficiary Shares</td>
<td>60%</td>
<td>40%</td>
</tr>
</tbody>
</table>
<div class="card-underline">Terms &amp; Conditions</div>
<ul>
<li>(i) Beneficiaries shall provide documentary evidence of availability of
                                        requisite land free from all encumbrances and financial resources along with
                                        necessary clearances/ permissions etc. in the DPR. No funds shall be provided
                                        for the land.</li>
<li>(ii) Cost estimates shall be based on the latest SoRs admissible in the project
                                        area and prevailing market rates.</li>
<li>(iii) The beneficiaries shall certify that all operational and maintenance costs
                                        of the infrastructure facilities shall be borne by them in future.</li>
<li>(iv) The beneficiaries shall submit self contained proposals together with
                                        documentary evidences in respect of (i) to (ii) above.</li>
<li>(v) The proposal shall be routed through the concerned State Governments/ UTs
                                        with clear recommendation.</li>
</ul>
</div>
</div>
</div><div class="content-card">
<div class="card-header">4. Renovation/Modernization of existing Ice Plant or Cold Storage</div>
<div class="card-body">
<div class="card-left">
<img alt="image" src="../img/modernize_ice_plant.png"/>
<div class="card-underline card-center-text">How to Apply</div>
<p class="card-center-text">(i) Beneficiary can apply for the scheme at the
                                    corresponding AD offices.</p>
</div>
<div class="card-right">
<p class="card-center-text">bbb Unit Cost:Rs.2.50 lakh per tonne</p>
<div class="card-center-text card-underline">Funding Pattern</div>
<table class="tg table-responsive">
<thead>
<th>Shares</th>
<th>General Category</th>
<th> SC/ ST Women &amp; their Co-Operatives</th>
</thead>
<tbody>
<tr>
<td>Central Gvt. Shares</td>
<td>24%</td>
<td>36%</td>
</tr>
<tr>
<td>State Gvt. Shares</td>
<td>16%</td>
<td>24%</td>
</tr>
<tr>
<td>Beneficiary Shares</td>
<td>60%</td>
<td>40%</td>
</tr>
</tbody>
</table>
<div class="card-underline">Terms &amp; Conditions</div>
<ul>
<li>(i) The broad items for renovation/modernization of the existing plants shall
                                        include civil works of the existing building, replacement of plants &amp;
                                        machineries, electrification &amp; water supply &amp; sanitation works etc., with a view
                                        to enhance the efficacy of the existing plant.</li>
<li>(ii) The beneficiaries should have the ownership of the existing infrastructure
                                        plant/facilities.</li>
<li>(iii) Renovation/modernization of existing &amp; operational plants of minimum 10
                                        years old only may be considered for funding on one time basis.</li>
<li>(iv) The beneficiaries should clearly indicate the source of balance funding for
                                        the project.</li>
<li>(v) Cost estimates shall be based on the latest SoRs admissible in the project
                                        area and prevailing market rates.</li>
<li>(vi) The beneficiaries shall confirm that all operational and maintenance costs
                                        of the modernized plant/infrastructure facility shall be borne by them.</li>
<li>The beneficiaries shall submit self contained proposals together with
                                        documentary evidences in respect of (ii) to (vi) above.</li>
<li>(viii) The proposals shall be routed through the concerned State Governments/
                                        UTs with clear recommendation.</li>
</ul>
</div>
</div>
</div></div>
</div>
</section>
</main>
<footer class="footer">
<div class="footer-grid">
<div class="footer-col">
<h3>GVIFishery Technology</h3>
<p>Room 702, Panchadeep Complex, <br/>Unit 4, Bhouma Nagar, <br/>Bhubaneswar, Odisha 751001</p>
<p>Mon-Fri: 10 A.M - 5:45 P.M</p>
</div>
<div class="footer-col">
<h3>Quick Links</h3>
<ul>
<li><i class="fa-solid fa-angle-right"></i> <a href="vision_mission.html">About Us</a>
</li>
<li><i class="fa-solid fa-angle-right"></i> <a href="marine_fisheries.html">Major
                            Activities</a></li>
<li><i class="fa-solid fa-angle-right"></i> <a href="welfare.html">Welfare Board</a></li>
<li><i class="fa-solid fa-angle-right"></i> <a href="contactus.html">Contact Us</a></li>
</ul>
</div>
<div class="footer-col">
<h3>Contact Us</h3>
<ul>
<li><i class="fa-solid fa-phone"></i> <a href="tel:+917606885535">+91 7606885535</a></li>
<li><i class="fa-solid fa-envelope"></i> <a href="mailto:subhasissha991@gmail.com">subhasissha991@gmail.com</a></li>
</ul>
</div>
</div>
<div class="footer-bottom">
<p>© 2026 GVIFishery Technology | Department of Fisheries and Fishermen Welfare. All Rights Reserved.</p>
</div>
</footer>
    <script src="../js/script.js"></script>
</body>
</html>
