<!--
  GVIFishery Technology - Bhubaneswar, Odisha
  GitHub Repository: GVIFishery
  File: demo.html
  Department of Fisheries and Fishermen's Welfare, Government of Odisha
-->

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>GVIFishery - Demo</title>
<link href="../static/style.css" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Sofia" rel="stylesheet"/>
<link href="../img/GVIFishery.png" rel="icon" type="image.png"/>
<style>
    .demo{
        background-color: aqua;background-image:linear-gradient(to bottom right ,aqua,white,aqua);
    }
    div h1{
        text-align: center; font-size: 100px; color: red;
    }
</style>
</head>
<body>
<header class="header">
<div class="header-left">
<img alt="GVIlogo" src="../img/GVIFishery.png"/>
<div class="header-text">
<p>GVIFishery Technology</p>
<span>Department of fisheries and fishermen's welfares</span>
</div>
</div>
        <button class="mobile-menu-toggle" id="mobileMenuToggle" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
        </button>
<div class="header-right">
<div class="item">
<i class="fa-solid fa-phone"></i>
<div>
<p>Call Us On:</p>
<a href="tel:+91 7606885535">+91 7606885535</a>
</div>
</div>
<div class="item">
<i class="fa-solid fa-envelope"></i>
<div>
<p>Send us a Mail:</p>
<a href="mailto:subhasissha991@gmail.com">subhasissha991@gmail.com</a>
</div>
</div>
<div class="btn-buy">
<a href="https://www.bunnycart.com/fishes">Buy Fish</a>
</div>
</div>
</header>
<nav class="navbar">
<ul>
<li class="nav-item-home"><a href="../index.html"><i class="fa-solid fa-house"></i></a></li>
<li class="dropdown">
<a href="demo.html">ABOUT <i class="fa-solid fa-chevron-down"></i></a>
<div class="dropdown-content">
<a href="directors_desk.html">Director's Desk</a>
<a href="vision_mission.html">Vision &amp; Mission</a>
<a href="history.html">History</a>
</div>
</li>
<li class="nav-item-active dropdown">
<a href="demo.html">MAJOR ACTIVITIES <i class="fa-solid fa-chevron-down"></i></a>
<div class="dropdown-content">
<a href="marine_fisheries.html">Marine Fisheries</a>
<a href="inland_fisheries.html">Inland Fisheries</a>
<a href="aquaculture.html">Aquaculture</a>
</div>
</li>
<li><a href="welfare.html">WELFARE BOARD</a></li>
<li class="nav-item"><a href="bussiness.html">START A BUSINESS</a></li>
<li class="dropdown">
<a href="demo.html">OTHERS <i class="fa-solid fa-chevron-down"></i></a>
<div class="dropdown-content">
<a href="welfare_schemes.html">Welfare Schemes</a>
<a href="tenders.html">Tenders</a>
<a href="latest_news.html">Latest News &amp; Events</a>
<a href="photo_gallery.html">Photo Gallery</a>
</div>
</li>
<li><a href="contactus.html">CONTACT US</a></li>
</ul>
</nav>

    <section class="breadcrumb-area">
        <h2>Demo</h2>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li class="active"><a href="demo.html">Demo</a></li>
        </ul>
    </section>

<div class="demo">
<h1>This is a Showpiece The original content will be avail soon.</h1>
</div>
<footer class="footer">
<div class="footer-grid">
<div class="footer-col">
<h3>GVIFishery Technology</h3>
<p>Room 702, Panchadeep Complex, <br/>Unit 4, Bhouma Nagar, <br/>Bhubaneswar, Odisha 751001</p>
<p>Mon-Fri: 10 A.M - 5:45 P.M</p>
</div>
<div class="footer-col">
<h3>Quick Links</h3>
<ul>
<li><i class="fa-solid fa-angle-right"></i> <a href="vision_mission.html">About Us</a></li>
<li><i class="fa-solid fa-angle-right"></i> <a href="marine_fisheries.html">Major Activities</a></li>
<li><i class="fa-solid fa-angle-right"></i> <a href="welfare.html">Welfare Board</a></li>
<li><i class="fa-solid fa-angle-right"></i> <a href="contactus.html">Contact Us</a></li>
</ul>
</div>
<div class="footer-col">
<h3>Contact Us</h3>
<ul>
<li><i class="fa-solid fa-phone"></i> <a href="tel:+917606885535">+91 7606885535</a></li>
<li><i class="fa-solid fa-envelope"></i> <a href="mailto:subhasissha991@gmail.com">subhasissha991@gmail.com</a></li>
</ul>
</div>
</div>
<div class="footer-bottom">
<p>© 2026 GVIFishery Technology | Department of Fisheries and Fishermen Welfare. All Rights Reserved.</p>
</div>
</footer>
    <script src="../js/script.js"></script>
</body>
</html>
