<!--
  GVIFishery Technology - Bhubaneswar, Odisha
  GitHub Repository: GVIFishery
  File: history.html
  Department of Fisheries and Fishermen's Welfare, Government of Odisha
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GVIFishery - History</title>

    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/history.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="icon" type="image.png" href="../img/GVIFishery.png">
</head>

<body>
    <header class="header">
        <div class="header-left">
            <img src="../img/GVIFishery.png" alt="GVIlogo">
            <div class="header-text">
                <p>GVIFishery Technology</p>
                <span>Department of fisheries and fishermen's welfares</span>
            </div>
        </div>
        <button class="mobile-menu-toggle" id="mobileMenuToggle" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
        </button>
        <div class="header-right">
            <div class="item">
                <i class="fa-solid fa-phone"></i>
                <div>
                    <p>Call Us On:</p>
                    <a href="tel:+91 7606885535">+91 7606885535</a>
                </div>
            </div>
            <div class="item">
                <i class="fa-solid fa-envelope"></i>
                <div>
                    <p>Send us a Mail:</p>
                    <a href="mailto:subhasissha991@gmail.com">subhasissha991@gmail.com</a>
                </div>
            </div>
            <div class="btn-buy">
                <a href="https://www.bunnycart.com/fishes">Buy Fish</a>
            </div>
        </div>
    </header>
    <nav class="navbar">
        <ul>
            <li class="nav-item-home"><a href="../index.html"><i class="fa-solid fa-house"></i></a></li>
            <li class="nav-item-active dropdown">
                <a href="demo.html">ABOUT <i class="fa-solid fa-chevron-down"></i></a>
                <div class="dropdown-content">
                    <a href="directors_desk.html">Director's Desk</a>
                    <a href="vision_mission.html">Vision & Mission</a>
                    <a href="history.html">History</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="demo.html">MAJOR ACTIVITIES <i class="fa-solid fa-chevron-down"></i></a>
                <div class="dropdown-content">
                    <a href="marine_fisheries.html">Marine Fisheries</a>
                    <a href="inland_fisheries.html">Inland Fisheries</a>
                    <a href="aquaculture.html">Aquaculture</a>
                </div>
            </li>
            <li><a href="welfare.html">WELFARE BOARD</a></li>
            <li class="nav-item"><a href="bussiness.html">START A BUSINESS</a></li>
            <li class="dropdown">
                <a href="demo.html">OTHERS <i class="fa-solid fa-chevron-down"></i></a>
                <div class="dropdown-content">
                    <a href="welfare_schemes.html">Welfare Schemes</a>
                    <a href="tenders.html">Tenders</a>
                    <a href="latest_news.html">Latest News & Events</a>
                    <a href="photo_gallery.html">Photo Gallery</a>
                </div>
            </li>
            <li><a href="contactus.html">CONTACT US</a></li>
        </ul>
    </nav>

    <section class="breadcrumb-area">
        <h2>Director's Desk</h2>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li>About</li>
            <li class="active"><a href="demo.html">History</a></li>
        </ul>
    </section>
    <section class="history-page-section">
        <div class="history-page-container">
            <div class="history-page-header">
                <h3>History</h3>
                <h4>Status of fisheries in India during 18th and 19th centuries</h4>
                <p>During 19th century, the fisheries was the only source of sustenance for a segment of the population
                    living in the coastal region, and on the banks of rivers, lakes and canals in India.</p>
                <p>Fishing in general was a hereditary profession carried on from generation to generation with almost
                    all the members of the family taking part in it to varying degree. The socio-economic condition of
                    fishermen was very poor. The fishermen belonged to the lowest stratum of society and fishing was
                    generally regarded as one of the meanest of all trades and profession.</p>
                <p>The earlier contributions to fisheries in India were the study of the Indian fish fauna by James
                    Russel (1785-89), Dr. Buchanan Hamiltons catalogue of the fishes of the Ganges published in 1822,
                    Co.Alcocks findings of marine fisheries in India published in 1869, starting of the Indian Marine
                    Survey Station in 1875 and the launching of the survey ship Investigator.</p>
                <p>The Government of India (GOI) deputed Dr.Francis Day to investigate the fresh water resources of
                    South India and then for the whole of India and Burma. Dr.Day of Indian Medical Service who worked
                    as Surgeon Major with the British troops in Bengal and who functioned as the Director General of
                    Fisheries of India in 1864 published two reports in 1878; the Freshwater Fish and Fisheries of India
                    & Burma and Sea Fish and Fisheries of India. Dr.Day in his Pioneering effort brought legislative
                    measures to conserve the fisheries. On that basis the Indian Fisheries Act (Act IV of 1897) was
                    passed for the whole of India, by which dynamiting and poisoning of waters for killing fish were
                    absolutely prohibited. This Act empowered the erstwhile Provincial Governments to frame rules for
                    regulating (a) the erection and use of fixed engines, (b) the construction of weirs, and (c) the
                    dimension and kind of nets to be used and the mode of using them; and for prohibiting all fishing in
                    specified water for a period not exceeding two years. The enactment of this Act was an important
                    event that took place in the history of Fisheries of India. Days endeavours also resulted in the
                    grant of duty free salt for curing fish.</p>
            </div>

            <div class="history-card">
                <div class="history-img">
                    <img src="../img/vintage_fishermen.png" alt="vintage fishermen" />
                </div>
                <div class="history-content">
                    <h5>ORDER - NO.734, REVENUE, DATED 1ST APRIL 1907.</h5>
                    <p>1.The Government accept generally Sir F.Nicholson's proposals as to the formation of a fishery
                        bureau. They consider that the appointments he suggests are suitable and may be permanently
                        created with effect from 1st April 1907, the pay of the assistant being fixed at Rs.175-5-200
                        per mensem. The Government of India will accordingly be moved to sanction the creation from that
                        date of the following appointments:</p>
                    <ul>
                        <li><i class="fa-solid fa-star"></i> One Assistant on a salary of Rs.175-5-200 per mensem.</li>
                        <li><i class="fa-solid fa-star"></i> Large Number Of Flight Ways Make Us Powerful</li>
                        <li><i class="fa-solid fa-star"></i> National And International Branches</li>
                        <li><i class="fa-solid fa-star"></i> Goods Will Be Contain In Safe Place</li>
                        <li><i class="fa-solid fa-star"></i> Customer Around The World Satisfy With It</li>
                    </ul>
                    <br>
                    <h5>ORDER - NO. I682, REVENUE, DATED 3RD JULY 1907.</h5>
                    <p>As the direction of the lines and the methods of investigation will continue to rest with
                        Sir.F.Nicholson during the two years of his prospective direction of fishery work, the
                        Government consider that he should be styled "Honorary Director" instead of "Honorary Adviser."
                    </p>
                </div>
            </div>

            <div class="history-card">
                <div class="history-img">
                    <img src="../img/vintage_trawler.png" alt="vintage trawler" />
                </div>
                <div class="history-content">
                    <p>During 1905, Sir Frederick Nicholson was appointed in a temporary Fisheries Officers post and was
                        deputed for a period of two years to investigate the fishery industry in the Orissa Province
                        and submitted. After the tour he sent proposals to Government for the initiation of a small
                        Bureau of Fisheries for Orissa with the aim of increasing fish production, promotion of fish
                        based industries and improvement of socio-economic conditions of fishermen. By establishing a
                        Bureau of Fisheries in 1907, the Orissa Province became the pioneer in India. Sir Nicholson
                        was appointed as the Honorary Director of the Bureau of Fisheries in 1908. Two European experts,
                        Mr.Wilson Hentry.C as a pisciculturist and Mr.James Homell as a marine biologist were appointed
                        to assist him. Earnest efforts were taken by the above three officers and their successors for
                        the development in all fields of fisheries and the Odisha Fisheries Department became the
                        forerunner in the development of fisheries in the country.</p>
                    <p>Mr.James Hornell succeeded him in 1918 as the first full time technical Director of Fisheries.
                        Initially fish preservation methods such as fish curing yards were started by the Department
                        during 01-04-1924.</p>
                </div>
            </div>

            <div class="history-card">
                <div class="history-img">
                    <img src="../img/vintage_official.png" alt="vintage official" />
                </div>
                <div class="history-content">
                    <p>In 1907 two cruises in search of trawling grounds were undertaken by Messrs.Hornell and Cribb
                        when in the employ of the Ceylon Pearl Fishery Company with the companys trawler Violet, in the
                        course of which an extensive trawling ground of five thousand square miles (Wadge Bank) off
                        Ganjam Coast and other smaller banks adjoining Balasore Coast were discovered. Apart from this,
                        survey with trawls along Odisha coast with SS Margarita in 1908, fishing off Paradeep and off
                        Puri with Sutherland and Turbinella during 1908-11, fishing experiments by with Sea Scout
                        during 1922-24 and exploratory fishing with vessels Lady Nicholson, T.R.8, Lady Goschen, Sea
                        Scout and Leverett during 1927-30 were the earlier activities. Eight motor fishing vessels were
                        used for shark fishing and as mother vessel for towing canoes and catamarants to the fishing
                        ground in 1946. Experimental fishing with hand lines on the Wadge Bank and for flying fish off
                        Gopalpur was conducted in 1949. During 1945, a special unit under Mr.E.K.Madhavan was
                        organized in the department for designing and building small-motorised boats. After the
                        successful operation of the first motorized boat Ajit in Paradeep in 1948, eleven more
                        boats were built. Fishing demonstrations using long lines, surface gill netting and boat seines
                        were made at specific centres.</p>
                </div>
            </div>

            <div class="history-card">
                <div class="history-content">
                    <h5>MARICULTURE:</h5>
                    <p>Mr.Hornell was the first to propose mariculture system in India and identified Chilika Lake
                        for setting up mariculture farms. The cultivation of the edible oyster was first contemplated in
                        1907 and research work was carried out. He undertood survey of Chilika Lake in 1908. In 1910,
                        some cultural methods were started at Chilika. From 1921 onwards oysters were regularly marketed
                        after hygienic treatment though on a small scale. About 1910-11, Mr.Hornell started supplying
                        biological specimens to various institutions and persons. A handbook entitled The Common
                        Molluscs of South India was published by Mr.Hornell by 1920. In 1924-25 identification of marine
                        biological specimens and formation of a reference collection at Bhubaneswar was started. Marine
                        fisheries research in an organized scale in India was first carried out in the Orissa Province
                        with the establishment of Marine Biological Stations at Chilika (1924), Balasore and Bhubaneswar.
                        The Odisha Marine Aquarium was opened in 1909 as an adjunct of the Museum. It was brought under
                        the control of the Fisheries Department in 1919 only. The Fisheries Department immediately made
                        the aquarium more attractive to the general public by increasing the number and variety of
                        exhibits.</p>
                </div>
                <div class="history-img history-col-3">
                    <img src="../img/vintage_aquarium.png" alt="vintage aquarium" />
                </div>
            </div>

            <div class="history-card text-only">
                <div class="history-content">
                    <h5>Pearl and chank fisheries:</h5>
                    <p>Pearl and chank fisheries were crown monopolies enjoyed by the local rulers of the region from
                        time immemorial.</p>
                    <p>After independence the GOI got the assignment of FAO Expert Dr.R.Baschieri Salvadori of the
                        Giardino Zoologica (Zoological Garden) of Rome for the period from November 1958 to May 1959 to
                        carry out under water exploration of the pearl and chank beds in the Bay of Bengal to assess
                        accurately the conditions and population of the sea shell fisheries.</p>
                </div>
            </div>

            <div class="history-card text-only">
                <div class="history-content">
                    <h5>Pearl Fishery:</h5>
                    <p>The pearl fishery occurred in irregular cycle. Mr. James Hornell who was called the father of
                        pearl and chank fisheries of India and Ceylon. Thirty-nine pearl fisheries had taken place
                        during the period 1663-1961. The last pearl fishery was during 1956-61 and nearly 760 million
                        pearl oyster pinctada fucata were harvested from the pearl banks of Puri.</p>
                </div>
            </div>

            <div class="history-card text-only">
                <div class="history-content">
                    <h5>Pearl Culture:</h5>
                    <p>Mr.Hornell sowed the idea of pearl culture in 1916. The pearl fishery could not be conducted
                        after 1961 due to paucity of oysters in the natural bed. The success in production of spherical
                        pearls was achieved by CMFRI only in 1973. the CMFRI developed a research centre for pearl
                        culture at Puri and also collaborated with the Department of Fisheries, Odisha during
                        1973-78. The technology was scaled up for large-scale production. The OFDC took up pearl
                        culture on Commercial scale on joint venture. At present the pearl culture project and pearl
                        oyster hatchery at Puri have been leased to a private party.</p>
                </div>
            </div>

            <div class="history-card text-only">
                <div class="history-content">
                    <h5>Chank Fishery:</h5>
                    <p>The Puri chank fishery was taken over by the State Fisheries Department from the Port
                        Officer, Puri on 01-04-1909. The chank fishery was an annual feature. Chank fishery (Xancus
                        pyrum) was commercially important in Odisha, contributing to landing of 8 to 10 lakhs a year
                        and offering employment to about 1,000 divers during the chank fishing season (October-May in
                        the Bay of Bengal and from June-August in the Chilika Lake, when the weather was favourable and
                        waters were clear). The Puri chank fishery was operated
                        departmentally under the direct departmental supervision. The divers who participated in the
                        fishery had to take out a license for diving and surrender their collection of chanks at a price
                        fixed by the Government. The Balasore chank fishery and the Odisha Coast (Ganjam,
                        Jagatsinghpur and Bhadrak) chank fishery were leased out for a term of three or more years. At
                        present the demand for chank has declined and there is neither departmental fishing not leasing
                        and the chank fishing in the whole state is permitted by issue of licenses.</p>
                </div>
            </div>

            <div class="history-card text-only">
                <div class="history-content">
                    <h5>Sea Weeds:</h5>
                    <p>During World War II, agar was needed for medical and public health work and also the banning of
                        imports from Japan gave the impetus to look into our seaweed resources. In 1940, agar was for
                        the first time processed in India simultaneously at the laboratory of the Scientific and
                        Industrial Research Board, Delhi and by the Department of Reasearch of Odisha.</p>
                </div>
            </div>

            <div class="history-card text-only">
                <div class="history-content">
                    <h5>Introduction of exotic fishes:</h5>
                    <p>The initial development in fisheries was planting high altitude streams with trout for
                        recreational fishing by the British. The attempts by Dr.Day in 1863 and 1886 and Mr.M.Ivor in
                        1867 to import and stock trout in Similipal had failed. In 1906 Mr.Wilson obtained 100
                        fingerlings from Ceylon of which only 27 survived and were released in Parsons Valley stream. In
                        1907 be obtained ova from New Zealand and successfully hatched them. This rainbow trout (Salmo
                        gairdneri) established well in the Similipal district. Tench of Doctor fish (Tincatinca) and
                        English carp (Carassiuscarassius) were introduced from Europe into Similipal in 1874. Mr.Wilson
                        introduced Gourami (Osphronemusgoramy) from Mauritius and Java into India 1916. 44 fingerlings
                        of Mirror Carp (European Carp Cyprinuscarpio) imported from Ceylon were stocked in the Crescent
                        pond in the Bhubaneswar Botanical Gardens in 1939. By 1943, they had bred and figerlings were available
                        for further stocking. Tilapia mosambica was introduced into Orissa Province in 1952. The other
                        fishes introduced were common carp (Bangkok strain) in 1957, silver carp from Hongkong to
                        Cuttack in 1959 and grass carp from Japan to Cuttack in 1959 and 1969.</p>
                </div>
            </div>

            <div class="history-card">
                <div class="history-img history-col-3">
                    <img src="../img/hilsa_fish.png" alt="hilsa" />
                </div>
                <div class="history-content">
                    <h5>Fish Culture:</h5>
                    <p>Mr.Wilson was called the founding father of inland fisheries development in the south. In memory
                        of him, the fish farm at Puri was named as Wilson fish farm. The credit of establishing trout
                        culture in Similipal on a firm and scientific basis goes to Mr.Wilson. a trout hatchery at
                        Avalanche in Mayurbhanj district was constructed in 1907. In 1909 a hilsa hatchery was established
                        at Naraj on the Mahanadi River. Mr.Wilson succeeded in artificially fertilizing
                        Hilsailisha eggs but the hatching was not successful. Dr.Sundara Raj took charge of the
                        experiments in 1915.</p>
                </div>
            </div>

            <div class="history-card text-only">
                <div class="history-content">
                    <h5>Larvicidal Fishes:</h5>
                    <p>Mr.Wilson took special initiative in breeding and supplying of larvicidal fishes for mosquito
                        control. Ippur fish farm in Balasore district was established in 1917 mainly to breed larvicides
                        in large numbers and distribute throughout the Presidency. In order to have extensive
                        experiments, a fish farm at Praema near Sambalpur was established in 1927.</p>
                </div>
            </div>

            <div class="history-card text-only">
                <div class="history-content">
                    <h5>Reservoir Fisheries:</h5>
                    <p>Odisha is pioneer in reservoir fisheries development. Even before the completion of the
                        construction of the Hirakud Reservoir (Hirakud Dam) in 1957 pre-impoundment stocking of Catla was
                        carried out. The cardinal principles of pre-impoundment survey, stocking, conservation and
                        management were adopted. Every reservoir had a fish seed farm attached to it. Research work on
                        the water quality and the productivity of the reservoirs was carried out. The evolution of
                        Rangoon nets (vertical walled surface gill nets of different mesh size) had also its beginning
                        in Hirakud and found its way into other reservoirs.</p>
                </div>
            </div>

            <div class="history-card text-only">
                <div class="history-content">
                    <h5>Odisha Rural Pisciculture Scheme:</h5>
                    <p>Mr. K.H.Alikunhi initiated research work on inland fisheries under the ICAR sponsored Odisha
                        Rural Pisciculture Scheme in 1942 and hundreds of rural fishery demonstration ponds sprung up
                        all over Orissa Province. This was the first extension project translating the research
                        findings into production programme and was the forerunner of the very successful Fish Farmers
                        Development Agency (FFDA) scheme initiated in 1973-74 by GOI. In the mid forties, Odisha
                        Fisheries had the distinction of starting a hydrobiological station in Kanjia, Bhubaneswar.</p>
                </div>
            </div>

            <div class="history-card text-only">
                <div class="history-content">
                    <h5>Fish curing yards:</h5>
                    <p>Fish curing was an age-old industry in India, but the methods in use were generally primitive and
                        susceptible of great improvement in regard to the flavour, appearance, cleanliness and keeping
                        quality of the product. Fish curing yards were set up in 1874 by the Board of Revenue to provide
                        wholesome salted fish to the public and to curb the use of salt earth by the curers. Duty free
                        salt was supplied for curing fish within enclosures. In 1908, an experimental station was opened
                        by the Fisheries Department at Chilika for conducting experiments in salting, curing
                        and preservation of fish. </p>
                    <p>To introduce the improvements in regard to cleanliness and sanitation, proper salting and drying,
                        six Government fish curing yards were transferred temporarily from the Salt Department to
                        Fisheries in 1917.</p>
                </div>
            </div>

            <div class="history-card text-only">
                <div class="history-content">
                    <h5>Shark Liver Oil:</h5>
                    <p>In Orissa Province, the livers were brought by the fishermen to the nearest fish curing yards,
                        where they were cleaned, washed and boiled in open tin-coated copper pans with water. The
                        fishermen were paid from 12 to 37 paise per lb (13 to 39 nayapaise per Kg). Sixty fish curing
                        yards on the east and west coasts had been provided with equipment for extraction of the oil and
                        the yard officers had been given the necessary training in oil extraction.</p>
                </div>
            </div>

            <div class="history-card text-only">
                <div class="history-content">
                    <h5>Beche-de-mer:</h5>
                    <p>An experimental holothurian curing facory was opened in 1915-16 at Gopalpur in
                        Ganjam district and was continued till 1927-28. Departmental efforts in this line gave
                        an impetus to the local merchants who undertook the curing on the same line as was conducted by
                        the department.</p>
                </div>
            </div>

            <div class="history-card text-only">
                <div class="history-content">
                    <h5>Refrigeration:</h5>
                    <p>Some initial experiments in refrigeration conducted by the department in 1912-13 with ice and
                        subsequently with a small ammonia brine-freezing plant, according to the Henderson method in
                        1915-16 at the Chaliyam Cannery, proved that the method could be adopted with success
                        technically. In 1918-19, a pair of twin refrigerating tanks were constructed at Paradeep, to
                        experiment in sharp freezing and in chilling of cheap fish e.g.Hilsa.</p>
                </div>
            </div>

            <div class="history-card text-only">
                <div class="history-content">
                    <h5>Fisheries Cooperatives:</h5>
                    <p>The beginning of the cooperative movement in India can be traced to the enactment of the Credit
                        Cooperative Societies Act, 1904. The first fishermen cooperative society was organized at Paradeep
                        in Jagatsinghpur in 1913. It was considered that cooperative could be a powerful tool for the
                        upliftment of fishermen communities. In 1918, Odisha Government laid down that the development
                        of the fishing community was the primary duty of the department and directed that the spread of
                        cooperative methods among fisherfolk be accelerated. In recognition of the fact that the fishery
                        officers were in the best position to supervise the cooperative work among fishermen, the
                        officers of the Fisheries Department were invested with powers to organize the fishermen
                        cooperative societies and to inspect the books of societies for which the Cooperative Societies
                        Act and Rules were amended suitably. The number of fishermen cooperative societies increased
                        from the level of 9 in 1918 rose to 195 in 1957.</p>
                </div>
            </div>

            <div class="history-card">
                <div class="history-img">
                    <img src="../img/vintage_coastal_school.png" alt="school" />
                </div>
                <div class="history-content">
                    <h5>Fisheries Schools:</h5>
                    <p>The rate of illiteracy among fishermen was significantly very high and hence earnest efforts were
                        taken to reduce this rate. In 1913, a special Fisheries School was started by the Fisheries
                        Department at Paradeep in the Coast. By 1919, Government sanctioned the opening of a training
                        institute at Bhubaneswar for the training of schoolmasters of fisheries schools and they were given
                        special technical instruction in Fisheries. There were 30 day schools and 4 night schools for
                        educating the fisher children freely in 1929. By 1950, there were 49 elementary and 10 higher
                        elementary schoolswith a strength of 19,510 pupil. After the reorganization of states in 1956,
                        there were only 3 elementary schools in Paradeep, Gopalpur and Balasore in
                        Odisha State.</p>
                </div>
            </div>

            <div class="history-content">
                <p>The Director of Fisheries initiated measures for development of the pearl fishery, manufacturer of
                    fish meal, canning of fish and fish curing yards. Thrust for experiments and research on all aspects
                    of Fisheries was also the concern of the Director of Fisheries.</p>
                <p>This facilitated the Department to initiate broad based socio economic development of the fishermen,
                    collection of statistics, record of observation of fish and fishery, introduction of improved
                    methods of capture fishery, marketing fish and fishery products. The fish curing yards (which were
                    earlier under the control of Salt Department) also enabled the Department of Fisheries to establish
                    contact with the coastal village as well as marine fishermen.</p>
                <p>In sixties, the Department, this was part of the Industries and Commerce Department till then was
                    declared as an independent department in 1965. In 1967, the Department was organized on Regional
                    basis with the sanction of four posts of Deputy Directors of Fisheries at Bhubaneswar, Balasore,
                    Sambalpur and Puri. One more region was formed at Paradeep in 1976. During April 2000, the
                    Department was reorganized on functional lines separate Assistant Directors were assigned for each
                    of the broad based functions like Marine, Inland, Aquaculture, Research, Extension and Training,
                    Exploratory Fisheries, Fishing Harbour Management with their jobs and responsibilities well defined.
                    Their geographical jurisdictions were also rationalized to ensure better performance.</p>

                <div class="milestone-box">

                    <h4>
                        GVI Fishery, Bhubaneswar, Odisha has achieved several important milestones.
                        <br />The important milestones are:
                    </h4>

                    <ul>
                        <li><i class="fa-solid fa-angles-right"></i> Promotion of sustainable aquaculture systems</li>

                        <li><i class="fa-solid fa-angles-right"></i> Development of fish hatcheries and nurseries</li>

                        <li><i class="fa-solid fa-angles-right"></i> Scientific fish breeding programs</li>

                        <li><i class="fa-solid fa-angles-right"></i> Inland and marine fisheries development</li>

                        <li><i class="fa-solid fa-angles-right"></i> Promotion of ornamental fisheries</li>

                        <li><i class="fa-solid fa-angles-right"></i> Shrimp culture and aquaculture expansion</li>

                        <li><i class="fa-solid fa-angles-right"></i> Fisheries training and awareness programs</li>

                        <li><i class="fa-solid fa-angles-right"></i> Modern fish processing and preservation systems
                        </li>

                        <li><i class="fa-solid fa-angles-right"></i> Fishermen welfare and livelihood support</li>

                        <li><i class="fa-solid fa-angles-right"></i> Reservoir fisheries development</li>

                        <li><i class="fa-solid fa-angles-right"></i> Sustainable marine fisheries management</li>

                        <li><i class="fa-solid fa-angles-right"></i> Promotion of eco-friendly fish farming methods</li>

                        <li><i class="fa-solid fa-angles-right"></i> Fish disease monitoring and control systems</li>

                        <li><i class="fa-solid fa-angles-right"></i> Water quality management and aquatic conservation
                        </li>

                        <li><i class="fa-solid fa-angles-right"></i> Fisheries infrastructure modernization</li>
                    </ul>

                </div>
            </div>

        </div>
    </section>
    <footer class="footer">
        <div class="footer-grid">
            <div class="footer-col">
                <h3>GVIFishery Technology</h3>
                <p>Room 702, Panchadeep Complex, <br>Unit 4, Bhouma Nagar, <br>Bhubaneswar, Odisha 751001</p>
                <p>Mon-Fri: 10 A.M - 5:45 P.M</p>
            </div>
            <div class="footer-col">
                <h3>Quick Links</h3>
                <ul>
                    <li><i class="fa-solid fa-angle-right"></i> <a href="vision_mission.html">About Us</a>
                    </li>
                    <li><i class="fa-solid fa-angle-right"></i> <a href="marine_fisheries.html">Major
                            Activities</a></li>
                    <li><i class="fa-solid fa-angle-right"></i> <a href="welfare.html">Welfare Board</a></li>
                    <li><i class="fa-solid fa-angle-right"></i> <a href="contactus.html">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h3>Contact Us</h3>
                <ul>
                    <li><i class="fa-solid fa-phone"></i> <a href="tel:+917606885535">+91 7606885535</a></li>
                    <li><i class="fa-solid fa-envelope"></i> <a
                            href="mailto:subhasissha991@gmail.com">subhasissha991@gmail.com</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2026 GVIFishery Technology | Department of Fisheries and Fishermen Welfare. All Rights Reserved.
            </p>
        </div>
    </footer>
    <script src="../js/script.js"></script>
</body>

</html>
