<!--
  GVIFishery Technology - Bhubaneswar, Odisha
  GitHub Repository: GVIFishery
  File: photo_gallery.html
  Department of Fisheries and Fishermen's Welfare, Government of Odisha
-->

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>GVIFishery - Photo Gallery</title>
<link href="../static/style.css" rel="stylesheet"/>
<link rel="stylesheet" href="../static/photo_gallery.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Sofia" rel="stylesheet"/>
<link href="../img/GVIFishery.png" rel="icon" type="image.png"/>
</head>
<body>
<header class="header">
<div class="header-left">
<img alt="GVIlogo" src="../img/GVIFishery.png"/>
<div class="header-text">
<p>GVIFishery Technology</p>
<span>Department of fisheries and fishermen's welfares</span>
</div>
</div>
        <button class="mobile-menu-toggle" id="mobileMenuToggle" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
        </button>
<div class="header-right">
<div class="item">
<i class="fa-solid fa-phone"></i>
<div>
<p>Call Us On:</p>
<a href="tel:+91 7606885535">+91 7606885535</a>
</div>
</div>
<div class="item">
<i class="fa-solid fa-envelope"></i>
<div>
<p>Send us a Mail:</p>
<a href="mailto:subhasissha991@gmail.com">subhasissha991@gmail.com</a>
</div>
</div>
<div class="btn-buy">
<a href="https://www.bunnycart.com/fishes">Buy Fish</a>
</div>
</div>
</header>
<nav class="navbar">
<ul>
<li class="nav-item-home"><a href="../index.html"><i class="fa-solid fa-house"></i></a></li>
<li class="dropdown">
<a href="demo.html">ABOUT <i class="fa-solid fa-chevron-down"></i></a>
<div class="dropdown-content">
<a href="directors_desk.html">Director's Desk</a>
<a href="vision_mission.html">Vision &amp; Mission</a>
<a href="history.html">History</a>
</div>
</li>
<li class="dropdown">
<a href="demo.html">MAJOR ACTIVITIES <i class="fa-solid fa-chevron-down"></i></a>
<div class="dropdown-content">
<a href="marine_fisheries.html">Marine Fisheries</a>
<a href="inland_fisheries.html">Inland Fisheries</a>
<a href="aquaculture.html">Aquaculture</a>
</div>
</li>
<li><a href="welfare.html">WELFARE BOARD</a></li>
<li class="nav-item"><a href="bussiness.html">START A BUSINESS</a></li>
<li class="nav-item-active dropdown">
<a href="demo.html">OTHERS <i class="fa-solid fa-chevron-down"></i></a>
<div class="dropdown-content">
<a href="welfare_schemes.html">Welfare Schemes</a>
<a href="tenders.html">Tenders</a>
<a href="latest_news.html">Latest News &amp; Events</a>
<a href="photo_gallery.html">Photo Gallery</a>
</div>
</li>
<li><a href="contactus.html">CONTACT US</a></li>
</ul>
</nav>

    <section class="breadcrumb-area">
        <h2>Photo Gallery</h2>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li class="active"><a href="demo.html">Photo Gallery</a></li>
        </ul>
    </section>

<section class="info-page-section">
    <div class="info-page-container">
        <div class="text-center">
            <h3 class="section-title">Photo Gallery</h3>
        </div>
        <div class="info-card">
            <div class="flex-holder">
                <img alt="Fish" class="img-fluid img-cover" src="../img/fish_gallery.png"/>
                <h5 class="title text-center">Fish</h5>
            </div>
            <div class="flex-holder">
                <img alt="Oyster" class="img-fluid img-cover" src="../img/oyster_gallery.png"/>
                <h5 class="title text-center">Oyster</h5>
            </div>
            <div class="flex-holder">
                <img alt="Cage" class="img-fluid img-cover" src="../img/cage_gallery.png"/>
                <h5 class="title text-center">Cage</h5>
            </div>
            <div class="flex-holder">
                <img alt="Carp Harvest" class="img-fluid img-cover" src="../img/carp_harvest.png"/>
                <h5 class="title text-center">Carp Harvest</h5>
            </div>
            <div class="flex-holder">
                <img alt="Pond" class="img-fluid img-cover" src="../img/pond_gallery.png"/>
                <h5 class="title text-center">Pond</h5>
            </div>
            <div class="flex-holder">
                <img alt="Harbour" class="img-fluid img-cover" src="../img/harbour_gallery.png"/>
                <h5 class="title text-center">Harbour</h5>
            </div>
            <div class="flex-holder">
                <img alt="Flc" class="img-fluid img-cover" src="../img/flc_gallery.png"/>
                <h5 class="title text-center">Flc</h5>
            </div>
            <div class="flex-holder">
                <img alt="Gift" class="img-fluid img-cover" src="../img/inland_casting.png"/>
                <h5 class="title text-center">Gift</h5>
            </div>
            <div class="flex-holder">
                <img alt="Fingerlings" class="img-fluid img-cover" src="../img/fingerlings_gallery.png"/>
                <h5 class="title text-center">Fingerlings</h5>
            </div>
            <div class="flex-holder">
                <img alt="Kayaking" class="img-fluid img-cover" src="../img/kayaking_gallery.png"/>
                <h5 class="title text-center">Kayaking</h5>
            </div>
            <div class="flex-holder">
                <img alt="Lobster" class="img-fluid img-cover" src="../img/fishery_fleet_lobster.png"/>
                <h5 class="title text-center">Lobster</h5>
            </div>
            <div class="flex-holder">
                <img alt="Vannamei Harvest" class="img-fluid img-cover" src="../img/vannamei_harvest.png"/>
                <h5 class="title text-center">Harvest</h5>
            </div>
            <div class="flex-holder">
                <img alt="Fish Farm Harvest" class="img-fluid img-cover" src="../img/hilsa_fish_harvest.png"/>
                <h5 class="title text-center">Harvest</h5>
            </div>
            <div class="flex-holder">
                <img alt="Navik Training" class="img-fluid img-cover" src="../img/navik_training.png"/>
                <h5 class="title text-center">Navik</h5>
            </div>
        </div>
        <div class="audio-container">
            <h4 class="audio-title"><i class="fa-solid fa-music"></i> Ambient Ocean Sounds</h4>
            <audio controls class="audio-player" src="../audio/deep_ocean_sounds.mp3">
                Your browser does not support the audio element.
            </audio>
            <p class="audio-subtitle">Tap play to experience the soothing ambient sounds of the deep sea while browsing.</p>
        </div>
    </div>
</section>

<footer class="footer">
<div class="footer-grid">
<div class="footer-col">
<h3>GVIFishery Technology</h3>
<p>Room 702, Panchadeep Complex, <br/>Unit 4, Bhouma Nagar, <br/>Bhubaneswar, Odisha 751001</p>
<p>Mon-Fri: 10 A.M - 5:45 P.M</p>
</div>
<div class="footer-col">
<h3>Quick Links</h3>
<ul>
<li><i class="fa-solid fa-angle-right"></i> <a href="vision_mission.html">About Us</a></li>
<li><i class="fa-solid fa-angle-right"></i> <a href="marine_fisheries.html">Major Activities</a></li>
<li><i class="fa-solid fa-angle-right"></i> <a href="welfare.html">Welfare Board</a></li>
<li><i class="fa-solid fa-angle-right"></i> <a href="contactus.html">Contact Us</a></li>
</ul>
</div>
<div class="footer-col">
<h3>Contact Us</h3>
<ul>
<li><i class="fa-solid fa-phone"></i> <a href="tel:+917606885535">+91 7606885535</a></li>
<li><i class="fa-solid fa-envelope"></i> <a href="mailto:subhasissha991@gmail.com">subhasissha991@gmail.com</a></li>
</ul>
</div>
</div>
<div class="footer-bottom">
<p>© 2026 GVIFishery Technology | Department of Fisheries and Fishermen Welfare. All Rights Reserved.</p>
</div>
</footer>
    <script src="../js/script.js"></script>
</body>
</html>
