<!--
  GVIFishery Technology - Bhubaneswar, Odisha
  GitHub Repository: GVIFishery
  File: welfare_schemes.html
  Department of Fisheries and Fishermen's Welfare, Government of Odisha
-->

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>GVIFishery - Welfare Schemes</title>
<link href="../static/style.css" rel="stylesheet"/>
<link rel="stylesheet" href="../static/welfare_scheme.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Sofia|Poppins" rel="stylesheet"/>
<link href="../img/GVIFishery.png" rel="icon" type="image.png"/>
</head>
<body>
<header class="header">
<div class="header-left">
<img alt="GVIlogo" src="../img/GVIFishery.png"/>
<div class="header-text">
<p>GVIFishery Technology</p>
<span>Department of fisheries and fishermen's welfares</span>
</div>
</div>
        <button class="mobile-menu-toggle" id="mobileMenuToggle" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
        </button>
<div class="header-right">
<div class="item">
<i class="fa-solid fa-phone"></i>
<div>
<p>Call Us On:</p>
<a href="tel:+91 7606885535">+91 7606885535</a>
</div>
</div>
<div class="item">
<i class="fa-solid fa-envelope"></i>
<div>
<p>Send us a Mail:</p>
<a href="mailto:subhasissha991@gmail.com">subhasissha991@gmail.com</a>
</div>
</div>
<div class="btn-buy">
<a href="https://www.bunnycart.com/fishes">Buy Fish</a>
</div>
</div>
</header>
<nav class="navbar">
<ul>
<li class="nav-item-home"><a href="../index.html"><i class="fa-solid fa-house"></i></a></li>
<li class="dropdown">
<a href="demo.html">ABOUT <i class="fa-solid fa-chevron-down"></i></a>
<div class="dropdown-content">
<a href="directors_desk.html">Director's Desk</a>
<a href="vision_mission.html">Vision &amp; Mission</a>
<a href="history.html">History</a>
</div>
</li>
<li class="dropdown">
<a href="demo.html">MAJOR ACTIVITIES <i class="fa-solid fa-chevron-down"></i></a>
<div class="dropdown-content">
<a href="marine_fisheries.html">Marine Fisheries</a>
<a href="inland_fisheries.html">Inland Fisheries</a>
<a href="aquaculture.html">Aquaculture</a>
</div>
</li>
<li><a href="welfare.html">WELFARE BOARD</a></li>
<li class="nav-item"><a href="bussiness.html">START A BUSINESS</a></li>
<li class="nav-item-active dropdown">
<a href="demo.html">OTHERS <i class="fa-solid fa-chevron-down"></i></a>
<div class="dropdown-content">
<a href="welfare_schemes.html">Welfare Schemes</a>
<a href="tenders.html">Tenders</a>
<a href="latest_news.html">Latest News &amp; Events</a>
<a href="photo_gallery.html">Photo Gallery</a>
</div>
</li>
<li><a href="contactus.html">CONTACT US</a></li>
</ul>
</nav>

    <section class="breadcrumb-area">
        <h2>Welfare Schemes</h2>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li class="active"><a href="demo.html">Welfare Schemes</a></li>
        </ul>
    </section>

<section class="info-page-section">
    <div class="info-page-container">
        <div class="text-center">
            <h3 class="section-title">Blue Revolution and State Schemes</h3>
        </div>
        <div>
            <p class="text">The following are the various State &amp; Central Govt Schemes implemented by Department of Fisheries for the benefit of people of Odisha. These schemes can be availed by fisherman from Odisha to build a house/Tube well/Community Hall, avail insurance and Ban and Lean period Benefits. The Govt of Odisha will provide all the necessary support to fisherman who can avail these schemes and prosper in all walks of Life. </p>
        </div>
        <div class="info-card">
            <p class="text-normal"><b>Disclaimer: </b><i>The Images &amp; Videos shown here are strictly for illustration purpose of the viewer. Actual unit or construction may vary based on requirement.</i></p>
        </div>

        <div class="text-right">
            <a class="btn-primary" href="demo.html" target="_blank"><i class="fa-solid fa-download"></i> Download</a>
        </div>

        <div class="info-card">
            <div class="flex-holder">
                <img alt="image" src="../img/welfare_scheme_doc.png" class="img-fluid img-cover w-100" />
            </div>
            <div class="flex-holder">
                <h4 class="section-title">1. National Saving-cum-Relief Scheme (NFSRS) for Marine Fisherman</h4>
                <p class="text">Unit Cost: Rs.3000/- per fisher per annum (to be shared equally between Centre and each of the general States).</p>

                <h5 class="section-title">Funding Pattern</h5>
                <table class="welfare-table">
                    <thead><tr><th>Category</th><th>Shares</th></tr></thead>
                    <tbody>
                        <tr><td>Central Gvt. Shares</td><td>33%</td></tr>
                        <tr><td>State Gvt. Shares</td><td>33%</td></tr>
                        <tr><td>Beneficiary Shares</td><td>34%</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="width">
                <h5 class="section-title">Terms &amp; Conditions</h5>
                <ul class="list">
                    <li><i class="fa-solid fa-angle-right icon-orange"></i> Beneficiary should be a fulltime active fisher,</li>
                    <li><i class="fa-solid fa-angle-right icon-orange"></i> Beneficiary should be a member of a functional local fishers cooperative society/ Federation/any other registered body.</li>
                    <li><i class="fa-solid fa-angle-right icon-orange"></i> Beneficiary should be Below Poverty Line (BPL) and of between 18 and 60 years of age,</li>
                    <li><i class="fa-solid fa-angle-right icon-orange"></i> Beneficiary fishers shall save Rs.1500/- over a period of 9 months.</li>
                    <li><i class="fa-solid fa-angle-right icon-orange"></i> States/ UTs may top up with any additional benefits.</li>
                    <li><i class="fa-solid fa-angle-right icon-orange"></i> States/ UTs shall be required to submit self contained project proposals.</li>
                    <li><i class="fa-solid fa-angle-right icon-orange"></i> The accumulated amount of Rs.4500/- shall be disbursed in 3 equal installments.</li>
                </ul>
                <h5 class="section-title">How to Apply</h5>
                <p class="text">Beneficiary can apply for the scheme at the corresponding AD offices.</p>
            </div>
        </div>

        <div class="info-card">
            <div class="flex-holder">
                <img alt="image" src="../img/welfare_scheme_doc.png" class="img-fluid img-cover w-100" />
            </div>
            <div class="flex-holder">
                <h4 class="section-title">2. State Saving-cum-Relief Scheme (SFSRS) for Marine Fisherwoman</h4>
                <p class="text">Unit Cost: Rs.3000/- per fisher per annum (to be shared by Odisha Govt).</p>

                <h5 class="section-title">Funding Pattern</h5>
                <table class="welfare-table">
                    <thead><tr><th>Category</th><th>Shares</th></tr></thead>
                    <tbody>
                        <tr><td>State Gvt. Shares</td><td>33%</td></tr>
                        <tr><td>Beneficiary Shares</td><td>67%</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="width">
                <h5 class="section-title">Terms &amp; Conditions</h5>
                <ul class="list">
                    <li><i class="fa-solid fa-angle-right icon-orange"></i> Beneficiary should be a fulltime active fisherwoman,</li>
                    <li><i class="fa-solid fa-angle-right icon-orange"></i> Beneficiary should be a member of a functional local fishers cooperative society/ Federation/any other registered body.</li>
                    <li><i class="fa-solid fa-angle-right icon-orange"></i> Beneficiary should be Below Poverty Line (BPL) and of between 18 and 60 years of age,</li>
                    <li><i class="fa-solid fa-angle-right icon-orange"></i> Beneficiary fishers shall save Rs.1500/- over a period of 9 months.</li>
                    <li><i class="fa-solid fa-angle-right icon-orange"></i> Odisha Govt will disperse Rs 3000/- along with Beneficiary’s Rs 1500/- for a total of Rs 4500/-.</li>
                </ul>
                <h5 class="section-title">How to Apply</h5>
                <p class="text">Beneficiary can apply for the scheme at the corresponding AD offices.</p>
            </div>
        </div>

        <div class="info-card">
            <div class="flex-holder">
                <img alt="image" src="../img/welfare_group.png" class="img-fluid img-cover w-100" />
            </div>
            <div class="flex-holder">
                <h4 class="section-title">3. Fishing Ban Period Assistance</h4>
                <p class="text">Unit Cost: Rs 5000/- per marine fishermen family.</p>

                <h5 class="title">Funding Pattern</h5>
                <table class="welfare-table">
                    <thead><tr><th>Shares</th><th>Category</th></tr></thead>
                    <tbody>
                        <tr><td>State Gvt. Shares</td><td>100%</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="width">
                <h5 class="section-title">Terms &amp; Conditions</h5>
                <ul class="list">
                    <li><i class="fa-solid fa-angle-right icon-orange"></i> Beneficiary should be a fulltime active fisherman,</li>
                    <li><i class="fa-solid fa-angle-right icon-orange"></i> Beneficiary should be a member of a functional local fishers cooperative society.</li>
                    <li><i class="fa-solid fa-angle-right icon-orange"></i> Beneficiary should be Below Poverty Line (BPL) and of between 18 and 60 years of age,</li>
                    <li><i class="fa-solid fa-angle-right icon-orange"></i> The amount will be transferred to beneficiary bank account through NEFT.</li>
                </ul>

                <table class="welfare-table">
                    <thead><tr><th>S.No</th><th>Region</th><th>Ban Period (every Year)</th></tr></thead>
                    <tbody>
                        <tr><td>1</td><td>Thiruvallur to Kanniyakumari East</td><td>April 15 – June 14</td></tr>
                        <tr><td>2</td><td>Kanniyakumari West</td><td>June 1 – July 31</td></tr>
                    </tbody>
                </table>

                <h5 class="section-title">How to Apply</h5>
                <p class="text">Beneficiary can apply for the scheme at the corresponding AD offices.</p>
            </div>
        </div>

        <div class="info-card">
            <div class="flex-holder">
                <img alt="image" src="../img/welfare_group.png" class="img-fluid img-cover w-100" />
            </div>
            <div class="flex-holder">
                <h4 class="section-title">4. Fishing Lean Period Assistance</h4>
                <p class="text">Unit Cost: Rs 5000/- per marine fishermen family.</p>

                <h5 class="section-title">Funding Pattern</h5>
                <table class="welfare-table">
                    <thead><tr><th>Shares</th><th>Category</th></tr></thead>
                    <tbody>
                        <tr><td>State Gvt. Shares</td><td>100%</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="width">
                <h5 class="section-title">Terms &amp; Conditions</h5>
                <ul class="list">
                    <li><i class="fa-solid fa-angle-right icon-orange"></i> Beneficiary should be a fulltime active fisherman,</li>
                    <li><i class="fa-solid fa-angle-right icon-orange"></i> Beneficiary should be a member of a functional local fishers cooperative society.</li>
                    <li><i class="fa-solid fa-angle-right icon-orange"></i> Beneficiary should be Below Poverty Line (BPL) and of between 18 and 60 years of age,</li>
                    <li><i class="fa-solid fa-angle-right icon-orange"></i> The amount will be transferred to beneficiary bank account through NEFT.</li>
                </ul>

                <table class="welfare-table">
                    <thead><tr><th>S.No</th><th>Region</th><th>Lean Period (every Year)</th></tr></thead>
                    <tbody>
                        <tr><td>1</td><td>Thiruvallur to Ramnad District</td><td>Oct, Nov, Dec</td></tr>
                        <tr><td>2</td><td>Puri, Tirunelveli</td><td>April, May, June</td></tr>
                        <tr><td>3</td><td>Kanniyakumari</td><td>Jan, Feb, March</td></tr>
                    </tbody>
                </table>

                <h5 class="section-title">How to Apply</h5>
                <p class="text">Beneficiary can apply for the scheme at the corresponding AD offices.</p>
            </div>
        </div>

        <div class="info-card">
            <div class="flex-holder">
                <img alt="image" src="../img/welfare_group.png" class="img-fluid img-cover w-100" />
            </div>
            <div class="flex-holder">
                <h4 class="section-title">5. Build a House - only for Fisherman community (Central Scheme)</h4>
                <p class="text">Unit Cost: Construction of new houses @ Rs.1,20,000/- per house</p>

                <h5 class="section-title">Funding Pattern</h5>
                <table class="welfare-table">
                    <thead><tr><th>Shares</th><th>Category</th></tr></thead>
                    <tbody>
                        <tr><td>State Gvt. Shares</td><td>100%</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="width">
                <h5 class="section-title">Terms &amp; Conditions</h5>
                <ul class="list">
                    <li><i class="fa-solid fa-angle-right icon-orange"></i> The housing unit should have a minimum plinth area of 25 Sq.m including sanitation facility.</li>
                    <li><i class="fa-solid fa-angle-right icon-orange"></i> Beneficiaries should be actively involved in fishing activities.</li>
                    <li><i class="fa-solid fa-angle-right icon-orange"></i> Preference to be given to fishers Below Poverty Line (BPL).</li>
                    <li><i class="fa-solid fa-angle-right icon-orange"></i> Beneficiaries owning kutcha houses can also be considered.</li>
                    <li><i class="fa-solid fa-angle-right icon-orange"></i> A cluster based development of not less than 20 houses should be adopted.</li>
                </ul>
                <h5 class="section-title">How to Apply</h5>
                <p class="text">Beneficiary can apply for the scheme at the corresponding AD offices.</p>
            </div>
        </div>

        <div class="info-card">
            <div class="flex-holder">
                <img alt="image" src="../img/welfare_group.png" class="img-fluid img-cover w-100" />
            </div>
            <div class="flex-holder">
                <h4 class="section-title">6. Build a House - only for Fisherman community (State Scheme)</h4>
                <p class="text">Unit Cost: Construction of New houses @ Rs.1,70,000/- per house (State Govt Share: Rs.1,10,000/-, Central Govt Share: Rs.60,000/-)</p>

                <h5 class="section-title">Funding Pattern</h5>
                <table class="welfare-table">
                    <thead><tr><th>Shares</th><th>Category</th></tr></thead>
                    <tbody>
                        <tr><td>Central Gvt. Shares</td><td>35%</td></tr>
                        <tr><td>State Gvt. Shares</td><td>65%</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="width">
                <h5 class="section-title">Terms &amp; Conditions</h5>
                <ul class="list">
                    <li><i class="fa-solid fa-angle-right icon-orange"></i> Beneficiaries should be actively involved in fishing activities.</li>
                    <li><i class="fa-solid fa-angle-right icon-orange"></i> The housing unit should have a minimum plinth area of 25 Sq.m.</li>
                    <li><i class="fa-solid fa-angle-right icon-orange"></i> Beneficiary needs Single Patta or Group Patta of the land.</li>
                    <li><i class="fa-solid fa-angle-right icon-orange"></i> Beneficiary should not have benefitted previously from any Govt housing schemes.</li>
                </ul>
                <h5 class="section-title">How to Apply</h5>
                <p class="text">Beneficiary can apply for the scheme at the corresponding AD offices.</p>
            </div>
        </div>

        <div class="info-card">
            <div class="flex-holder">
                <img alt="image" src="../img/welfare_scheme_doc.png" class="img-fluid img-cover w-100" />
            </div>
            <div class="flex-holder">
                <h4 class="section-title">7. Build a Tube Well - Drinking Water Facility for Fisherman</h4>
                <p class="text">Unit Cost: Unit cost of tube well @ Rs. 0.50 lakh</p>

                <h5 class="section-title">Funding Pattern</h5>
                <table class="welfare-table">
                    <thead><tr><th>Shares</th><th>Category</th></tr></thead>
                    <tbody>
                        <tr><td>State Gvt. Shares</td><td>100%</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="width">
                <h5 class="section-title">Terms &amp; Conditions</h5>
                <ul class="list">
                    <li><i class="fa-solid fa-angle-right icon-orange"></i> One tube-well shall be provided for each cluster of a minimum of 20 houses.</li>
                    <li><i class="fa-solid fa-angle-right icon-orange"></i> Alternative sources may be provided if tube-wells are not feasible.</li>
                </ul>
                <h5 class="section-title">How to Apply</h5>
                <p class="text">Beneficiary can apply for the scheme at the corresponding AD offices.</p>
            </div>
        </div>

        <div class="info-card">
            <div class="flex-holder">
                <img alt="image" src="../img/welfare_scheme_doc.png" class="img-fluid img-cover w-100" />
            </div>
            <div class="flex-holder">
                <h4 class="section-title">8. Build a Community Hall for Fisherman</h4>
                <p class="text">Unit Cost: Rs.4.00 lakh per unit.</p>

                <h5 class="section-title">Funding Pattern</h5>
                <table class="welfare-table">
                    <thead><tr><th>Shares</th><th>Category</th></tr></thead>
                    <tbody>
                        <tr><td>State Gvt. Shares</td><td>100%</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="width">
                <h5 class="section-title">Terms &amp; Conditions</h5>
                <ul class="list">
                    <li><i class="fa-solid fa-angle-right icon-orange"></i> Clusters/ Fishers' Villages with 75 or more houses shall be eligible.</li>
                    <li><i class="fa-solid fa-angle-right icon-orange"></i> The Community Hall should have a minimum plinth area of 200 sq.m.</li>
                    <li><i class="fa-solid fa-angle-right icon-orange"></i> Post construction maintenance shall be vested with the Village Panchayats.</li>
                </ul>
                <h5 class="section-title">How to Apply</h5>
                <p class="text">Beneficiary can apply for the scheme at the corresponding AD offices.</p>
            </div>
        </div>

        <div class="info-card">
            <div class="flex-holder">
                <img alt="image" src="../img/welfare_scheme_doc.png" class="img-fluid img-cover w-100" />
            </div>
            <div class="flex-holder">
                <h4 class="section-title">9. Group Accident Insurance for Active Fishermen</h4>
                <p class="text">Unit Cost: Rs.4.00 lakh per unit.</p>

                <h5 class="section-title">Funding Pattern</h5>
                <table class="welfare-table">
                    <thead><tr><th>Shares</th><th>Category</th></tr></thead>
                    <tbody>
                        <tr><td>State Gvt. Shares</td><td>100%</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="width">
                <h5 class="section-title">Terms &amp; Conditions</h5>
                <ul class="list">
                    <li><i class="fa-solid fa-angle-right icon-orange"></i> Licensed/ registered fishers shall be eligible for insurance for Rs. 2.00 lakh against death or permanent total disability.</li>
                    <li><i class="fa-solid fa-angle-right icon-orange"></i> The insurance cover shall be for a period of 12 months.</li>
                    <li><i class="fa-solid fa-angle-right icon-orange"></i> This component shall be implemented through FISHCOPFED.</li>
                </ul>
                <h5 class="section-title">How to Apply</h5>
                <p class="text">Beneficiary can apply for the scheme at the corresponding AD offices.</p>
            </div>
        </div>

    </div>
</section>

<footer class="footer">
<div class="footer-grid">
<div class="footer-col">
<h3>GVIFishery Technology</h3>
<p>Room 702, Panchadeep Complex, <br/>Unit 4, Bhouma Nagar, <br/>Bhubaneswar, Odisha 751001</p>
<p>Mon-Fri: 10 A.M - 5:45 P.M</p>
</div>
<div class="footer-col">
<h3>Quick Links</h3>
<ul>
<li><i class="fa-solid fa-angle-right"></i> <a href="vision_mission.html">About Us</a></li>
<li><i class="fa-solid fa-angle-right"></i> <a href="marine_fisheries.html">Major Activities</a></li>
<li><i class="fa-solid fa-angle-right"></i> <a href="welfare.html">Welfare Board</a></li>
<li><i class="fa-solid fa-angle-right"></i> <a href="contactus.html">Contact Us</a></li>
</ul>
</div>
<div class="footer-col">
<h3>Contact Us</h3>
<ul>
<li><i class="fa-solid fa-phone"></i> <a href="tel:+917606885535">+91 7606885535</a></li>
<li><i class="fa-solid fa-envelope"></i> <a href="mailto:subhasissha991@gmail.com">subhasissha991@gmail.com</a></li>
</ul>
</div>
</div>
<div class="footer-bottom">
<p>© 2026 GVIFishery Technology | Department of Fisheries and Fishermen Welfare. All Rights Reserved.</p>
</div>
</footer>
    <script src="../js/script.js"></script>
</body>
</html>
